[2019-12-03 13:38] srittau commented on #3509
typeshed does not have stubs for python-future, but we would gladly accept any contribution!

[2019-12-03 13:40] srittau commented on #3523
Your analysis is correct, `__init__` is just missing. PR welcome!

[2019-12-03 13:54] #3502 closed

[2019-12-03 17:29] #3519 closed

[2019-12-04 21:07] #3374 closed

[2019-12-05 03:42] mthuurne commented on #3029
The following patch should make the errors about the constructor argument disappear:
[code]
However, the `mapping` constructor argument is undocumented: there is no mention of it on `docs.python.org`. If you run `help(MappingView)` you will see it, but that's generated by introspection rather than by explicit documentation.

On the other hand, in the previously linked [BPO 37145](https://bugs.pyth

[2019-12-05 07:04] #3360 closed

[2019-12-05 07:17] srittau commented on #3029
We usually include undocumented items in typeshed if they are used, but mark them with `# undocumented`. PR welcome!

[2019-12-05 20:26] mthuurne commented on #3029
The PR was submitted and passed CI.

[2019-12-06 18:31] CraftSpider commented on #1019
Most of the public check-marks on this issue seem to be complete. On my local machine, the current list of missing packages (Windows 10, Python 3.6.9, unfiltered):
 - `__phello__.foo`
 - `_bootlocale`
 - `_collections_abc`
 - `_compat_pickle`
 - `_osx_support`
 - `_pydecimal`
 - `_pyio`
 - `_sitebuiltins`
 - `_strptime`
 - `antigravity`
 - `dbm` - Pending #3508
 - `dummy_threading`
 - `idlelib`
 -

[2019-12-06 19:20] CraftSpider commented on #1019
Adding on the list of modules implemented in C (Same source as previous):
 - `_asyncio`
 - `_bz2`
 - `_ctypes`
 - `_ctypes_test`
 - `_decimal`
 - `_distutils_findvs`
 - `_elementtree`
 - `_hashlib`
 - `_lzma`
 - `_msi`
 - `_multiprocessing`
 - `_overlapped`
 - `_socket`
 - `_sqlite3`
 - `_ssl`
 - `_testbuffer`
 - `_testcapi`
 - `_testconsole`
 - `_testimportmultiple`
 - `_testmultiphase`
 - `_tkin

[2019-12-07 17:28] hadim opened #3533 "pathlib match parameters error"
Consider this code:

[code]

PyRight raises this error:

[code]

*Originally posted at https://github.com/microsoft/pyright/issues/397*

[2019-12-08 08:46] JelleZijlstra commented on #3533
Actually, I think pyright is wrong here. The overloads allow `os.PathLike`, and a `Path` is an instance of `os.PathLike`.

[2019-12-08 13:53] hadim commented on #3533
Ping @erictraut

[2019-12-08 17:54] erictraut commented on #3533
The overload allows an `_AnyPath`, which is constrained to `str` or `os.PathLike[str]`. TypeVar constraints must match exactly. Derived classes are not allowed. At least that's how I interpret PEP 484, which says:

[2019-12-09 07:24] srittau commented on #3533
Closing this per discussion in microsoft/pyright#397.

[2019-12-09 18:22] JelleZijlstra commented on #3533
Looking at the `rmtree` stubs again, I do think there is a small issue. The Python 3 stub is currently like this:
[code]
`_AnyPath` is a typevar over `str` and `PathLike[str]`.

But looking at the implementation, the `onerror` callback can be invoked either on the path directly passed to `rmtree`, or on a directory entry inside the path, as produced by `scandir`, which are str or bytes depending o

[2019-12-09 23:42] dkg opened #3537 ""IMAP4_SSL" has no attribute "__enter__", "__exit__""
[imaplib's documentation](https://docs.python.org/3/library/imaplib.html#imaplib.IMAP4) clearly encourages the use of `with` for an `IMAP4` object, and yet:

[code]

`mypy` should be more clever about this so that it doesn't throw an error on the example code.

[2019-12-09 23:53] dkg commented on #1019
This list seems to be valid for 3.7 as well as 3.6.  At least, i'm trying to typecheck some code that uses `mailbox` and running into the missing stub on 3.7.

[2019-12-10 08:05] srittau commented on #3537
Support added in Python 3.5. PR welcome!

[2019-12-12 13:26] lovasoa opened #3538 "Unsupported operand types for + ("timedelta" and "datetime")"
`timedelta.__add__` can accept a `datetime` as argument and return a `datetime`, but it is declared as

[code]

in typeshed.

* Are you reporting a bug, or opening a feature request?
   * a bug
* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to a minimal repro.
[code]
* What is the actu

[2019-12-12 15:22] srittau commented on #3538
`datetime.__radd__()` (and `date.__radd__()`) is missing from the stubs. PR welcome!

[2019-12-12 17:38] #3538 closed

[2019-12-13 11:06] #3537 closed

[2019-12-17 15:59] brianmaissy opened #3544 "redis stubs are incomplete and incorrect"
I encountered a couple missing and incorrect stubs in third_party/2and3/redis, and when I looked at the stubs (and ran stubgen) it looks like there is quite a lot missing.

I'm opening a PR to fix specifically what was bothering me; but there's a lot more to do.

Since this is my first time contributing to typeshed and I'm pretty new to mypy altogether, I don't feel completely comfortable tackling

[2019-12-17 21:48] dkg commented on #3537
wow that was fast!

@srittau, @reidswan, thanks!

[2019-12-18 15:34] scole66 opened #3547 "functools.cached_property and derived classes"
`functools.cached_property` doesn't seem to create good annotations for derived classes. Is this a typeshed thing or a mypy thing?

Testcase:
[code]
Output from mypy 0.760:
[code]

[2019-12-18 18:30] gsakkis opened #3549 "Too many arguments for MappingView"
The following snippet fails with `Too many arguments for "ValuesView"  [call-arg]` although that's the correct signature of `ValuesView` (and all mapping views for that matter).
[code]
Versions:
- Python 3.6.8
- mypy 0.760

[2019-12-18 19:36] srittau commented on #3549
`ValuesView` (or rather `MappingView`) does not have an `__init__` method in typeshed. PR welcome!

[2019-12-20 00:02] dkg commented on #3519
@toppk, @bbc2, i've also just stumbled into this problem when using mypy 0.750-1 in debian.  thanks for the fix, i hope to see it in a release soon :)

[2019-12-20 06:43] lazytype opened #3551 "dict.update has incorrect variance for one of its overloads"
[code]

[2019-12-20 17:31] ilevkivskyi commented on #3551
It looks like a possible solution here is to define a hidden typeshed-only supertype of `Mapping` (maybe call it `_Mapping`) that will be covariant in key type. We can then use it to annotate some built-in function and method arguments where we know it is safe.

[2019-12-20 23:21] JelleZijlstra commented on #3547
For what it's worth the typeshed definition is:
[code]
It's not immediately obvious to me why mypy is giving the errors you mention—maybe something to do with the invariant TypeVars that `cached_property` is generic over? It may be helpful to `reveal_type(characteristic)` inside the class body.

[2019-12-21 00:24] scole66 commented on #3547
[code]

It's the same outside of the classes as well.

[2019-12-21 00:30] scole66 commented on #3547
The revealed types _seem_ accurate; the problem seems to be that there's an issue with the link between `baseclass` and `derived`. Which makes this seem like a mypy issue.

But `@property` works fine, though the typeshed definition looks completely different to me, which makes this seem like a typeshed issue.

[2019-12-21 01:11] JelleZijlstra commented on #3547
`@property` is heavily special-cased in mypy itself, so its typeshed implementation doesn't necessarily tell you much.

I realized the issue here is the first type argument in the stub. If I remove that argument and instead use `Any`, the error goes away. I also tried making this typevar covariant instead, but that leads to `error: Cannot use a covariant type variable as a parameter` and doesn't f

[2019-12-21 18:42] #3547 closed

[2019-12-21 22:45] #3029 closed

[2019-12-22 00:12] davidhalter opened #3556 "class ellipsis is public but shouldn't"
`Ellipsis` is defined like this:

[code]

However I do not see how this `ellipsis` does not leak. Wouldn't it be better to rename `ellipsis` to `_ellipsis` or import it from somewhere and not export it again?

[2019-12-27 18:43] llchan opened #3561 "CoroutineType should have __name__ and __qualname__ attributes"
The built-in `CoroutineType` should have `__name__` and `__qualname__` attributes.  I can send up a PR sometime next week.

[2019-12-27 18:45] llchan commented on #3561
I suppose while we're at it, should also add `cr_origin` for 3.7+

[2019-12-30 05:51] CraftSpider commented on #1526
I'm interested in tackling at least the stdlib side of this. Would it be better to do this as individual, more well thought-out PRs for each module, or one much larger commit that only does relatively general types

[2020-01-01 03:07] hauntsaninja commented on #2638
Based on https://docs.python.org/3/library/functions.html#round, it seems that if you don't specify `ndigits`, `round` will return an `int`:

Note that this is, in fact, the behaviour for `float`:
[code]

Giving `SupportsRound` a second, optional type parameter could work.
This could maybe help clarify cases like https://github.com/python/mypy/issues/8213 where the current type parameter isn't nee

[2020-01-01 04:16] hauntsaninja commented on #2638
Note that #2907 adds an additional error message to the original case, as Michael suggested, which will help force the user to handle both cases when defining MyClass.
`5: error: Signature of "__round__" incompatible with supertype "SupportsRound"`

[2020-01-02 20:24] JelleZijlstra commented on #3556
You're probably right, but I think mypy depends internally on the object being available under this name, so it might be fairly complicated to fix. (The same goes for `builtins.function` and `builtins.module`, which don't exist at runtime either.)

[2020-01-02 21:00] davidhalter commented on #3556
That's why I didn't patch it. #2999 is also from me.

My opinion is this: We should get closer to what Python actually does. Mypy is not the only typeshed user and is probably also not the biggest one in terms of user numbers.

[2020-01-02 21:40] martinburchell commented on #1019
Should xml.dom be in this list?

[2020-01-03 11:51] libre-man opened #3569 "Werkzeug `EnvironHeaders` is not considered a `Mapping`"
It seems that the `EnvironHeaders` class of `werkzeug` (and probably the base class `Headers` too) is not compatible with `Mapping`, however it looks like it should be compatible (it implements all needed methods, and functions like one).

[2020-01-03 16:44] srittau commented on #3569
Do you have an example that you think should type check but doesn't?

[2020-01-03 16:48] libre-man commented on #3569
Here is small example:

[code]

On which mypy errors with: `test.py:10: error: Argument 1 to "get" has incompatible type "EnvironHeaders"; expected "Mapping[str, <nothing>]"`.

[2020-01-03 16:48] #3523 closed

[2020-01-03 16:50] srittau commented on #1526
In general, smaller PRs are easier to review, but too many PRs can also become cumbersome. It might be best to have one PR per package if a package has a few changes needed and a few PRs for packages that only have few changes.

[2020-01-04 00:32] hauntsaninja commented on #3549
This should be fixed by #3528, although that doesn't make the change for Python 2 (where MappingView can't be instantiated, but the others can).

[2020-01-05 13:48] #3549 closed

[2020-01-05 13:54] srittau commented on #3556
I agree that we should work towards a fix, but currently mypy and typeshed are closely tied together and we can't make changes that will break mypy. This should probably be brought up in mypy's issue tracker of there isn't an issue already.

[2020-01-05 16:10] srittau opened #3576 "Disallow `Mapping` as argument type?"
This came up in #3569. See also the later comments in python/typing#11 for background. `Mapping` is not a protocol (as opposed to most other typing ABCs). This mean code like the following will not work:

[code]

Deriving `MyMap` from `Mapping[str, int]` works, though. I suggest we don't allow new submissions to use `Mapping` as argument type and work towards removing existing uses. Instead they s

[2020-01-05 16:12] srittau commented on #3569
I opened #3576 for the underlying issue. My best suggestion for now is to use a custom protocol for your own code and - depending on the outcome of the discussion in #3576 - submit PRs for code in typeshed.

[2020-01-05 16:20] davidhalter commented on #3556
Opened https://github.com/python/mypy/issues/8240. Hopefully that helps.

It's a bit unfortunate that the CI's are circular (both depend on each other). However other than that, typeshed could depend on an older version of typeshed.

[2020-01-07 09:00] dongweiming commented on #3010
@JelleZijlstra if use `Assignment expressions` will  an error:

[code]

[2020-01-07 09:34] srittau commented on #3010
This is a mypy problem:

[code]

(mypy 0.761 with Python 3.8.0)

[2020-01-07 15:43] JelleZijlstra commented on #3010
Yes, python/mypy#7316.

[2020-01-08 05:34] hauntsaninja commented on #1446
Looks like it's only the protobuf containers one left. Is it worth adding a test to prevent the addition of Any others?

[2020-01-08 08:30] srittau commented on #1446
I think adding a test to flake8-pyi would make sense.

[2020-01-08 09:24] ethanhs commented on #1446
Mypy also has a flag to disallow this, which could perhaps be switched off for the single stub.

[2020-01-08 15:56] JelleZijlstra commented on #1446
It would be better to turn on mypy's `--disallow-subclassing-any` flag (maybe with a type ignore for the protobuf ones).

[2020-01-08 16:45] srittau commented on #1446
Good point.

[2020-01-08 17:12] ilevkivskyi commented on #300
Re-opening since we now have literal types.

[2020-01-08 19:51] #1446 closed

[2020-01-09 01:39] e2thenegpii opened #3594 "There is no signature for memoryview.cast"
Please consider the following code snippit:

[code]
I get the following:
[code]

[2020-01-09 23:57] #3594 closed

[2020-01-10 00:45] hauntsaninja commented on #300
I think it's still not possible to type `decode` correctly, since we run into `Overloaded function signatures 1 and 2 overlap with incompatible return types`, with, eg:
[code]
A similar thing is true for `encode` with str to str encodings, like rot13.

[2020-01-10 01:01] JelleZijlstra commented on #300
If we type ignore that error, mypy may still infer better types than it currently does.

[2020-01-10 15:38] #300 closed

[2020-01-13 21:31] danieldaeschle opened #3609 "Unexpected argument flask set_cookie samesite"
# What steps will reproduce the problem?

1. Install flask
2. Create sample project
3. Create a response like in the screenshot below

# What is the expected result?
No linting error
According to https://flask.palletsprojects.com/en/1.1.x/security/#set-cookie-options

# What happens instead?
Linting error "Unexpected argument"
![image](https://user-images.githubusercontent.com/30751516/72293420-c7

[2020-01-14 03:20] Solumin opened #3611 "stub for csv.writer can't accept subclass of csv.Dialect"
`csv.writer` is an [import](https://github.com/python/typeshed/blob/055a907e756ae3a8380845aa62c65b1da46ed610/stdlib/2and3/csv.pyi#L16) of `_csv.writer`. #3581 changed `_csv.writer` to take `dialect: Union[_csv.Dialect, str]`. This is correct, but now `csv.Dialect` -- which is distinct from `_csv.Dialect` -- is no longer a valid argument type for `csv.writer`.

For example, if someone was to define

[2020-01-14 11:42] srittau commented on #3609
PR welcome!

[2020-01-14 19:42] hauntsaninja commented on #3611
Thanks for finding!

It's confusing to me that there is csv.Dialect and _csv.Dialect. @JelleZijlstra suggested this was for performance reasons. Given that all the CPython code I can see seems to duck type around dialects, maybe the right thing to do is to just re-export _csv.Dialect in csv.

Seems like `strict` is documented for `csv.Dialect`, so maybe it's a bug in CPython that it's not mentione

[2020-01-15 11:04] #3609 closed

[2020-01-15 22:48] wittekm opened #3615 "Unify naming of `os.statvfs` result on py2/py3"
[code]

py2: _StatVFS
https://github.com/python/typeshed/blob/master/stdlib/2/os/__init__.pyi#L139

py3: statvfs_result
https://github.com/python/typeshed/blob/master/stdlib/3/os/__init__.pyi#L275

[2020-01-15 23:42] rchen152 commented on #3615
In Python 2, I suspect we should delete os._StatVFS and import and re-export posix.statvfs_result instead: https://github.com/python/typeshed/blob/42d68dd7653228fbe9ac1e131a2a31e6b7a9a419/stdlib/2/posix.pyi#L81

[2020-01-20 16:50] crusaderky opened #3635 "New arguments for pickle 5"
Python 3.8.1, mypy 0.770+dev.861f01c3be99b9faf2e8d42e316aee4ec6e571c4

[code]
Output:
[code]

[2020-01-21 02:21] shalesbridge opened #3637 "Contributing wxpython stubs?"
While trying to learn the wxpython module, I've been creating type stubs for my own benefit.  It's a big module so the stubs are nowhere near complete, but I was hoping other people might find them handy.

The stubs started as something small that I wrote because I couldn't find existing wxpython stubs, and ballooned in size as more and more wxpython classes got used in my learning project.  Thus

[2020-01-21 06:00] hauntsaninja commented on #754
Hello everybody!

I've been working on overhauling mypy's stubtest.py with the goal of adding tests to typeshed. My WIP branch is visible here: https://github.com/hauntsaninja/mypy/tree/stubtest2/scripts
The idea here, as in the original post, is to compare stubs with what we find via runtime introspection.

This version of `stubtest.py` can do pretty much everything @JukkaL mentioned in his origi

[2020-01-21 18:12] srittau commented on #3637
Sounds great! Having wxpython stubs would be very useful.

[2020-01-21 20:41] niklasf opened #3644 "asyncio.AbstractChildWatcher missing"
[code]

https://docs.python.org/3/library/asyncio-policy.html#asyncio.AbstractChildWatcher

[2020-01-22 10:21] JasonGilholme opened #3646 "subprocess.Popen typing divergence"
Hi.

I noticed the other day that the `stdin`, `stdout`, and `stderr` properties of the `subprocess.Popen` object were `Optional`.  A closer inspection showed that they are not `Optional` in the python 3 stubs, but the runtime implementations I looked at were.  is this an oversight or something done by design?

py2 stub:  https://github.com/python/typeshed/blob/master/stdlib/2/subprocess.pyi#L81
p

[2020-01-22 13:18] srittau commented on #3646
This looks like an oversight. PR welcome!

[2020-01-23 01:11] #3611 closed

[2020-01-23 14:26] srittau commented on #3644
There are a few FIXMEs in the asyncio stubs about this class missing. PR welcome!

[2020-01-23 16:33] JelleZijlstra commented on #754
@hauntsaninja thanks, this is great! It would be really helpful if we can run this script in typeshed CI in the future.

Putting it either in the mypy or the typeshed repo could lead to issues with coordinating changes, but because the script relies heavily on mypy internals, I think it makes more sense to put it in the mypy repo. That way, when somebody makes a change to mypy that breaks the guts

[2020-01-23 16:44] srittau commented on #754
This is indeed fantastic (as evidenced by your relentless onslaught of PRs). I think the long-term goal should be to do the tests here in typeshed, as this is where potentially problematic changes happen and fixes can be applied. But if stubtest is really tied to mypy internals at the moment, I agree that the mypy repo seems more appropriate for the time being.

That said, another long-term goal f

[2020-01-23 18:42] #3635 closed

[2020-01-24 09:26] hauntsaninja commented on #754
Okay, I've gotten some of my short-term work list done, so I've opened up a draft PR against mypy at https://github.com/python/mypy/pull/8325. Assuming it finds a home there, I'd like to propose the following path to stubtest in typeshed CI and look at some scenarios.

We add a test to typeshed CI that uses a pinned version of stubtest to run stubtest for each python version from py35 onwards with

[2020-01-24 11:34] bluetech commented on #2808
I also think it makes sense, `os.PathLike` is exactly the use case for Protocols IMO.

I tried this patch:

[code]

but this seems not possible as is:

[code]

[2020-01-24 22:02] dkg opened #3654 "imaplib's CommandResults has unnecessary `Any`"
In `imaplib`, `CommandResults` is too generic.

[`imaplib`'s documentation](https://docs.python.org/3/library/imaplib.html) says:

However, use of imaplib in python3 reveals this documentation to date from py2's confusion between bytes and strings, [because the "strings" are actually `bytes`](https://bugs.python.org/issue39447).

[2020-01-25 21:59] ethanhs commented on #2623
I believe this is no longer an issue.

[2020-01-25 21:59] #2623 closed

[2020-01-26 00:16] ethanhs commented on #2491
I want to move forward with this, and I don't want to wait for namespacing to be implemented in warehouse (and don't have the time to implement at the moment). I think it is okay if we do `types-*` as that is what Donald Stufft suggested.

I have a proposal based on a discussion I had with several people on the mypy team (@JukkaL please feel free to clarify or correct anything here if I got it wro

[2020-01-26 07:38] ilai-deutel opened #3660 "range.index() takes exactly one argument"
`range.index()` does not accept `start` and `stop` arguments (the documentation was fixed in python/cpython#13075):

[code]

The stub file indicates that 3 arguments can be given. However, removing these extra arguments makes mypy complain about the signature of `index` being incompatible with supertype `Sequence`.

https://github.com/python/typeshed/blob/ce42c16e03b14106cdd41870a9782dce0bd17e42/s

[2020-01-26 11:14] asvetlov commented on #2491
Eventually all third-party stubs become `types-<name>-py3`, right?
`py3` suffix seems redundant.
Would you consider `-py2` for Python 2, `-py23` for Python 2 and 3, and just empty for Python 3 only stubs?

[2020-01-26 12:53] srittau commented on #3660
You can add a `# type: ignore` comment to the line mypy is complaining about. It will work.

[2020-01-26 13:45] srittau commented on #2491
Thank you for moving forward with this! I can offer what limited time I have to help if you need anything. A few comments:

I agree with asvetlov that Python 3-only packages should have no suffix as eventually this will be redundant. Also, if there ever is a Python 4, existing Python 3 packages will most likely continue to work, so this naming would be confusing.

Regarding `TYPESHED_INCREMENT`: I

[2020-01-26 14:02] srittau commented on #2491
I accidentally pushed 0b7f7b4215abc4d902ef67ed53e8299a5bd4cb15 directly into the third-party-dist branch instead of opening a PR. Could I get a quick ad-hoc review here? Sorry and thanks!

[2020-01-26 14:22] #3646 closed

[2020-01-27 09:31] ethanhs commented on #2491
Yeah I think @asvetlov is right, we shouldn't have a suffix for python 3 packages. In that case perhaps we just have the suffixes mirror the current folder layout (`-2` and `-2and3`), but omit it in the case of Python 3?

RE versioning perhaps just using dates for the `TYPESHED_INCREMENT` would be better, I didn't realize that was compatible with PEP 440.

[2020-01-27 10:08] srittau commented on #2491
Another thing that didn't come up yet was the difference between package and distribution names (I hope I got the terminology right). For example the `pillow` distribution contains the `PIL` package (because it started as a drop-in replacement for `PIL). `pycrypto` contains the `Crypto` package, other distribution might contain multiple packages, and multiple distributions could contain packages w

[2020-01-27 20:01] JukkaL commented on #2491
I'd love to get rid of the the version-dependent subdirectories under `stubs/package` in the common cases. In the long term, I'd expect that the vast majority of stubs will only have either the `3` or `2and3` variant. Separate Python 2 and 3 stubs are mostly historical, I think, and there likely won't be many additional Python 2 only stubs.

Here's my proposal that would get us there:
* By default

[2020-01-27 21:18] srittau commented on #2491
My suggestion for a file system structure would actually look like this, integrating Jukka's suggestions (using pillow here to distinguish between distributions and packages):

[code]

This would allow us to have both stubs for Pillow and PIL with differing metadata, even though both use the same package namespace. Not the best example, because PIL is basically obsolete, but sufficient to use as a

[2020-01-27 22:24] whonore opened #3666 "socketserver: Missing (Forking/Threading)MixIn definitions"
These classes have empty stubs, so something like
[code]
raises a typechecking error.

[2020-01-28 00:46] Andrew1973 opened #3667 "Missing badmodules from ModuleFinder"
Python 3.7, seeing

error: "ModuleFinder" has no attribute "badmodules"; maybe "modules", "add_module", or "load_module"?

modulefinder.py has

class ModuleFinder:

    def __init__(self, path=None, debug=0, excludes=[], replace_paths=[]):
        if path is None:
            path = sys.path
        self.path = path
        self.modules = {}
        self.badmodules = {}
        self.debug = debug

[2020-01-28 04:19] #3660 closed

[2020-01-28 05:25] #3495 closed

[2020-01-28 08:50] srittau commented on #3666
I assume this is about socketserver. PR welcome, even if it just adds `__getattr__` methods to the classes or the module in question for now (see documentation).

[2020-01-28 08:52] srittau commented on #3667
PR welcome!

[2020-01-28 11:09] Hubro opened #3671 "Incorrect re.compile type error? Argument 1 to "compile" has incompatible type "str"; expected "bytes""
Here is my code:

[code]

Running mypy on this file:

[code]

Am I wrong in assuming that re.compile should accept a `str` argument? :thinking:

---

I'm using Python 3.8.0 with mypy 0.761.

~~I'm not entirely sure how typeshed fits together with mypy, so my apologies in advance if this is the wrong repo to file this under.~~ Ok apparently mypy includes typeshed, so this appears to be the right re

[2020-01-28 12:09] srittau commented on #3671
This is not a problem with mypy or typeshed. `AnyStr` is an typevar, bound to `str` and `bytes`. Type vars only make sense if you use at least two instances, which is not the case in your example, and this leads to problems. Since `re.compile()` will return a string pattern when passed a string pattern, you should annotate your function like this:

[code]

[2020-01-28 12:09] #3671 closed

[2020-01-28 12:34] Hubro commented on #3671
@srittau Wow, that did it! I had no idea the return type annotation of the parent function could affect the parameter types of a function call... That kinda blows my mind!

Thanks for the tip :)

[2020-01-28 18:08] JelleZijlstra commented on #3671
If it helps, my understanding is that mypy typechecks the body of functions using type variables with value restrictions (such as AnyStr) twice: once with the TypeVar set to one of the restrictions, once to the other. So in this case, when it typechecks the function with AnyStr -> bytes, it expects the function to return `Pattern[bytes]` and produces the error you report.

[2020-01-29 05:02] gvanrossum commented on #2491
So if the distribution and package name are the same, would the name be repeated, e.g. stubs/requests/requests/__init__.pyi? Or in that case stubs/requests/__init__.pyI?

[2020-01-29 08:19] srittau commented on #2491
For consistency I think it should be, even if it is a bit awkward.

[2020-01-29 08:39] brianmaissy opened #3681 "stubs for ConfigParser.getint() etc are too strict"
Consider the following snippet:

`my_value: Optional[int] = config.getint('mysection', 'myoption', fallback=None)`

Mypy complains:

It is currently typed like this (in typeshed):

`def getint(self, section: str, option: str, *, raw: bool = ..., vars: Optional[_section] = ..., fallback: int = ...) -> int: ...`

While I can understand the desire to type it that way, it prohibits the (I think legiti

[2020-01-29 09:29] beanaroo opened #3682 "Jinja2 FileSystemLoader now supports PathLike"
Relevant annotation can be found [here](https://github.com/python/typeshed/blob/master/third_party/2and3/jinja2/loaders.pyi#L15).

As of Jinja 2.11.0, PathLike objects are now supported: https://github.com/pallets/jinja/pull/1064

I also realize both PathLike and Iterable[Union[PathLike, str]] are an option.

I have a proposed change but I'm not entirely confident about it.

[2020-01-29 10:24] srittau commented on #3681
This will require an overload for the case where `fallback` is not supplied, because otherwise `T` is undefined. But apart from that it sounds reasonable. PR welcome!

[2020-01-29 13:43] #3681 closed

[2020-01-29 13:51] jonasrauber opened #3685 "object.__eq__ and other comparisons should have return type Any"
Given the implementation, I would suggest the return type should be `Union[NoReturn, Any]`. `object.__eq__` always throws a `NotImplementedError` (hence the `NoReturn`) and `Any` allows sub-classes to override the return type to anything they like.

_Originally posted by @Victor-Savu in https://github.com/python/mypy/issues/2783#issuecomment-488274462_

Please fix the return type of `__eq__` and o

[2020-01-29 13:55] jonasrauber commented on #3685
Please see the thread linked above for details. The statement about raising `NotImplementedError` was corrected tot returning `NotImplemented`, so defining `Any` as the return type should be what we need.

[2020-01-29 13:56] jonasrauber commented on #3685
I would be happy to open a PR …

[2020-01-29 14:06] srittau commented on #3685
I am honestly not convinced. I would argue that the default assumption is that `__eq__` and other binary comparison methods should return a boolean value. If some classes return another type, they can always override the return type, potentially using `# type: ignore`.

[2020-01-29 22:33] tikki opened #3688 "wrong signature for param to `socket.getaddrinfo`"
Hi,

the 4th param to [`socket.getaddrinfo` in py3](https://docs.python.org/3/library/socket.html#socket.getaddrinfo) is named `type`, but at one point in the typeshed stub it got [changed to `socktype`](https://github.com/python/typeshed/commit/70e39d9ad2ea90a330b12b0337c16f7a671ed0bc), which makes mypy wrongly report an error. It is only called [`socktype` in py2](https://docs.python.org/2/libra

[2020-01-29 23:49] JukkaL commented on #2491
I think that repeating the package name would be unfortunate. I'd go as far as saying that we should only support one set of stubs per package name, for simplicity (potentially with multiple versions, but still targeting the same package). In the case of PIL, we'd pick the most popular package and only include stubs for it.

If we'll ever have a case where there are two separate packages with the

[2020-01-30 08:36] srittau commented on #3688
PR welcome!

[2020-01-30 22:12] hauntsaninja opened #3693 "How much do we care about positional-only args?"
It's fairly common for arguments that were positional-only to become no longer positional-only between minor versions of Python. For example, zipimport between 3.7 and 3.8:

<details>

[code]
</details>

We can branch on `sys.version_info` to capture this — and I'm happy to do that — but figured I'd check whether this is actually desired or not before doing something that's pretty nitpicky. The up

[2020-01-31 02:43] JelleZijlstra commented on #3693
I would prefer to just go with the latest version in cases like this, since there is fairly little risk of actual code attempting to use these arguments as keyword arguments, and as you say it would complicate the stubs. I'm interested to hear other opinions though.

As for your other questions:
* We currently cannot use PEP 570 syntax in typeshed because typed-ast does not support it. typed-ast d

[2020-01-31 07:58] srittau commented on #3693
As an addendum to what Jelle wrote: I wouldn't want to reduce accuracy for positional-only arguments, i.e. if something already has branches, I wouldn't want to accept a patch that removes those. But PR that changes the args from one kind to the other, because it has changed in later Python  versions, is fine.

[2020-01-31 09:17] #3688 closed

[2020-01-31 09:24] #3682 closed

[2020-01-31 19:58] hauntsaninja commented on #3693
Sounds good, thanks both!

[2020-01-31 19:58] #3693 closed

[2020-02-03 21:17] #3666 closed

[2020-02-04 22:11] daveware-nv opened #3713 "csv.DictReader.fieldnames should be Optional[Sequence[str]]"
`csv.DictReader.fieldnames` defaults to `None`, and gets set by reading the first line of data. However if there is no first line of data it remains `None`. Since `fieldnames` is not marked as `Optional` code doing `None` checks like the following will result in `error: Statement is unreachable`

[code]

[2020-02-04 23:25] hoefling commented on #3644
@srittau looks like this issue is resolved by #3664.

[2020-02-04 23:29] #3644 closed

[2020-02-05 00:21] hauntsaninja commented on #3713
Looks like it got missed in https://github.com/python/typeshed/pull/3534. PR welcome!

[2020-02-05 15:22] minusf opened #3724 "utcoffset error"
hello.  i reported this issue initially with [pytype #503](https://github.com/google/pytype/issues/503).  i was told this is a better place...

[code]

[2020-02-05 15:32] srittau commented on #3724
This can't be fixed in typeshed or the type checkers. While `datetime.now().astimezone()` will always return a `datetime` object with a timezone, there is no way to express this using the type system. (Short of making `datetime` generic over the timezone type, which would lead to whole host of other problems.) The best option is to use `# type: ignore` or rewrite the code like this:

[code]

[2020-02-05 15:32] #3724 closed

[2020-02-05 20:54] hauntsaninja opened #3728 "Improvements around stubtest"
Creating this issue to discuss and document areas of improvement from using stubtest. Note when I use "in CI" below, I mean as in current draft pull request #3727

- Fixing existing errors and burning down the whitelists. Some notes:
  - Watch out for unnecessary branches. `inspect.signature` sometimes throws, in which case `stubtest` doesn't analyse further. However, the functions it fails for di

[2020-02-06 11:02] Starwort opened #3730 "[3.8] int and fractions.Fraction report as having no `as_integer_ratio` member erroneously"
I would fix this if I understood the layout - but there is no builtins/fractions typing information in the /3/ folder that I can tell
Both `(1).as_integer_ratio()` and `fractions.Fraction().as_integer_ratio()` work in the console but throw errors with mypy

[2020-02-06 11:24] srittau commented on #3730
`as_integer_ratio()` was added in #3337 and your examples work with the latest mypy (0.761).

[2020-02-06 18:21] JelleZijlstra commented on #3730
As for your confusion about directory layout, the builtins module is in `stdlib/2and3/` because we use the same file for Python 2 and 3.

[2020-02-06 18:53] hauntsaninja commented on #3730
This is documented in https://github.com/hauntsaninja/typeshed/blob/master/CONTRIBUTING.md#stub-versioning

[2020-02-06 19:51] llchan commented on #3685
@jonasrauber I very much agree that something needs to be done about `__eq__`, but there are many nuances around it so I'd recommend discussing with the mypy maintainers before putting in significant time to prep a PR.  It seems that there may be some baked-in assumptions and special handling beyond what typeshed dictates.

Related discussions:
https://github.com/python/mypy/issues/2783
https://gi

[2020-02-08 10:38] #3667 closed

[2020-02-09 12:34] #3730 closed

[2020-02-10 16:55] ju-sh commented on #1707
Is chardet stub available yet? If not can we start working on it?

[2020-02-10 16:57] srittau commented on #1707
Contributions are welcome! I don't think we have chardet in typeshed yet.

[2020-02-10 18:25] ju-sh commented on #1707
@srittau Can we use this issue or is it better to create a new one?

[2020-02-10 18:29] srittau commented on #1707
This issue is fine for discussing the stub, although details should be discussed in the PR once it is opened.

[2020-02-10 21:46] jbirch-atlassian opened #3733 "Werkzeug structure has changed as of 1.0.0; some modules don't exist anymore"
Werkzeug 1.0.0 was tagged and released four days ago. Back in 0.15.0, the release notes included the following item:

In 1.0.0, the `werkzeug.contrib` module has disappeared completely — along with a whole lot more in https://github.com/pallets/werkzeug/issues/1477. However, this module and others still exist in Typeshed.

[2020-02-10 21:58] di commented on #3001
Hi folks, PyPI administrator here. We got a request to remove this project from PyPI as it's confusing for users (https://twitter.com/okapies/status/1225604759752601600, https://github.com/pypa/pypi-support/issues/192).

What would you like to do here?

[2020-02-10 22:03] JelleZijlstra commented on #3001
I think it makes sense to remove the package. However, we should avoid opening up the hame, because that would make the name available to squatters.

[2020-02-10 22:16] di commented on #3001
Yes, we can also put a block on the name so it cannot be registered.

[2020-02-11 08:27] srittau commented on #3733
PR welcome!

[2020-02-11 16:19] ju-sh commented on #1707
Made a tiny part of the stub. Can you have a look? https://github.com/python/typeshed/pull/3734

[2020-02-13 12:46] ra-kete opened #3735 "cryptography: `mode` argument to `Cipher.__init__` is optional"
In the type stubs for the third-party lib cryptography, the `mode` argument of [`cryptography.hazmat.primitives.ciphers.Cipher`](https://github.com/python/typeshed/blob/39008d51c15906f86b57466fb8001f0031561e61/third_party/2and3/cryptography/hazmat/primitives/ciphers/__init__.pyi#L25) is specified to be of type `Mode`. However, looking at [the documentation](https://cryptography.io/en/latest/hazmat

[2020-02-13 14:41] srittau commented on #3735
PR welcome!

[2020-02-16 12:48] blueyed commented on #3386
Code reference: https://github.com/python/typeshed/blob/47409f3e254afc69bbff902fe490f00e44400fd0/stdlib/2/__builtin__.pyi#L109-L113

Simpler example, also showing an issue with `__call__` (where `*args` and `**kwds` should not be required):
[code]

Output:
[code]

[2020-02-17 02:58] jbirch commented on #3733
Alright, challenge accepted. I had a quick look at the difference between `stubgen`ing Werkzeug 1.0.0 and what's currently in Typeshed, and differences are relatively significant — significant enough that I started looking at not just updating the now-removed references, but trying to type the entire Werkzeug project.

There's going to be quite a bit of handwaving over some definitions to satisfy

[2020-02-17 03:57] CraftSpider commented on #3733
Not a maintainer, but:
For the first two examples, I'd prefer `param: Any` over bare `param`, as part of what I'm working on is implementing disallow-incomplete-defs, which makes the second one an error.
Also, bare `Optional` is disallows, we run mypy with `disallow-any-generics` which requires the `[Any]` on the end, it may not be implicit.

Overall, we tend to constrain types as strictly as poss

[2020-02-17 05:50] hauntsaninja commented on #3733
Also not a maintainer:

`stubgen` is more of a starting point and you should definitely feel free to improve its output! This is much appreciated work. https://github.com/python/typeshed/blob/master/CONTRIBUTING.md#using-stubgen
When in doubt, typeshed follows the implementation over anything else.
https://github.com/python/typeshed/blob/master/CONTRIBUTING.md#what-to-do-when-a-projects-documentat

[2020-02-17 08:06] srittau commented on #3733
Yes, we prefer not to use `Any`, where a type is not annotated yet, so that this can be easily distinguished from cases where `Any` is the best we can do. In the case of `environ`, I'd recommend to use `wsgiref.types.WSGIEnvironment`, even though it's a more restrictive than needs to be. Alternatively, `Mapping[str, Any]` would be the correct type. Thank you for looking into this!

[2020-02-18 00:00] jbirch commented on #3733
Thanks all for the clarifications and helping me be aware of the other things going on within Typeshed so I don't get in the way of other initiatives.

---

@CraftSpider, I'm not sure how to reconcile this with `CONTRIBUTING.md`'s "Do not use `Any` to mark unannotated arguments". Are you suggesting that this might change soon with your work? That we might eventually explicitly type such unannotate

[2020-02-18 02:08] CraftSpider commented on #3733
Follow the other's suggestions over mine. They're more right. What I tend to do is spend more time so that instead of `Any` I make the parameters as accurate as possible as I go, and add them where they're missing (plus reviews to catch what I miss).

[2020-02-19 06:02] AndreyMZ opened #3743 "Stub for `logging.Logger._log` is missing"
### Problem description
Stub for `logging.Logger._log` is missing. (See the stub for [`logging.Logger`](https://github.com/python/typeshed/blob/91deb7a79f9eff58a8ff02566e7da9eb06a99ec6/stdlib/2and3/logging/__init__.pyi#L48).)

### Steps to reproduce
(E.g. in PyCharm.)
[code]

#### Actual result

#### Expected result
No errors/warnings.

[2020-02-19 11:16] srittau commented on #3733
@jbirch Your rules about `Any` sound about right. Please note that these are more guidelines/preference, and I wouldn't reject a PR just because of the use or not of `Any`.

`wsgiref.types` is a typeshed-only module, not available at runtime. It contains some useful definitions for WSGI modules, and is part of the "typeshed standard library" (if there is such a thing). According to current rules t

[2020-02-19 11:21] srittau commented on #3743
PR welcome (with an `# undocumented` comment)!

[2020-02-21 13:30] #3467 closed

[2020-02-21 15:46] hoefling commented on #3407
Not reproducible with `mypy==0.761` anymore.

[2020-02-22 04:46] #3743 closed

[2020-02-22 04:49] #3735 closed

[2020-02-22 04:49] #3165 closed

[2020-02-22 04:50] #3713 closed

[2020-02-23 09:02] kvdveer opened #3774 "ipaddress.IPv6Network missing subnet_of member"
Self-contained example, runs succesfully under python 3.7, but fails mypy tests:

[code]

mypy output:
[code]

Same goes for ipv4 network.

[2020-02-23 23:28] libre-man commented on #3018
This is still a problem when you subclass `SyncManager`. An example:

[code]

[2020-02-25 16:50] multipitch opened #3777 "Erroneous Unexpected keyword argument error for pathlib.Path.unlink"
Sample code:

[code]

The code runs fine on Python 3.8.0 (as expected):
[code]

But mypy throws an error:
[code]

[2020-02-25 17:03] multipitch commented on #3777
Apologies; it looks like this was fixed in PR https://github.com/python/typeshed/pull/3568

[2020-02-25 17:03] #3777 closed

[2020-02-26 13:45] petsuter commented on #1019
Also [winreg](https://docs.python.org/3.6/library/winreg.html)?

[2020-02-26 13:48] petsuter opened #3778 "Missing tkinter.Variable.trace_add ..."
[Python 3.6 added](https://docs.python.org/3.6/whatsnew/3.6.html?highlight=trace_add#tkinter) methods `trace_add()`, `trace_remove()` and `trace_info()` in the `tkinter.Variable` class. These are still missing in typeshed.

[2020-02-26 14:28] srittau commented on #3778
PR welcome!

[2020-02-27 17:37] PGijsbers opened #3782 "Why does Threading.Timer 'function' expect None as return type?"
The [Timer signature](https://github.com/python/typeshed/blob/ca1ca0c14f65f13f778f1b8e91eade7a6c84498d/stdlib/2and3/threading.pyi#L176) specifies that `function` should have the signature `Callable[..., None]`. I couldn't find anything in the official [Timer documentation](https://docs.python.org/3.6/library/threading.html#timer-objects) on why that would be. In my project I found myself using a f

[2020-02-27 21:35] JelleZijlstra commented on #3782
I agree, it should be `Any` if the return value is ignored. Feel free to submit a PR!

[2020-02-28 09:55] PGijsbers commented on #3782
I was working on getting the unit tests up and running, but had some trouble. My normal environment is on Windows (with Anaconda) but this failed to build a wheel for `pytype` when installing the test requirements. So I went to my backup system, which is the Windows Subsystem for Linux and install seemed to work correctly. However when running `python tests/mypy_selftest.py` it turned out I had to

[2020-02-28 16:34] JelleZijlstra commented on #3782
I think that's probably just expected differences due to names being present only on some OSs; maybe @hauntsaninja can confirm.

An easier way to run the tests is to fork typeshed on GitHub and enable Travis CI on your fork.

[2020-02-28 17:21] xorsyst-python opened #3787 "Missing standard library xml"
I'm getting

error: No library stub file for standard library module 'xml.dom.minidom'
note: (Stub files are from https://github.com/python/typeshed)
error: No library stub file for standard library module 'xml.dom'
error: No library stub file for standard library module 'xml.dom.expatbuilder'
error: No library stub file for standard library module 'xml.sax.expatreader'
error: No library stub file

[2020-02-28 20:11] PGijsbers commented on #3782
Thank you for the help. The unit tests ran successfully on my branch in my fork, so I put up the PR.

[2020-02-28 20:52] hauntsaninja commented on #3782
Thanks for dealing with the tests! Yeah, stubtest will pick up platform differences, in which case the whitelists don't match up. I'll find ways to improve this + I can document this better.

[2020-02-29 05:24] di commented on #3001
I've removed the project and blocked the name from being registered, this can be closed.

[2020-02-29 13:05] #3782 closed

[2020-02-29 13:22] srittau commented on #3001
Thanks!

[2020-02-29 13:22] #3001 closed

[2020-03-01 20:25] bluetech opened #3800 "OrderedDict.fromkeys() returns Dict instead of OrderedDict"
`OrderedDict` inherits `fromkeys()` from its parent `Dict`. `dict.fromkeys` has hardcoded return type `dict`:

https://github.com/python/typeshed/blob/95002966ec1b8f3c7b819a462e1c55b478cd8d0a/stdlib/2and3/builtins.pyi#L999-L1004

Easy way to fix this is to explicitly override to return `OrderedDict`, but this doesn't take care of the same problem in other `dict` subclasses.

I tried to fix it usin

[2020-03-01 21:07] sangaline opened #3801 "Importlib's PathFinder has an incorrect interface definition"
The [`importlib.machinery.PathFinder`](https://github.com/python/typeshed/blame/256b3ce8aba6080f9a1c90c8c264e93e49e754cd/stdlib/3/importlib/machinery.pyi#L84) stub indicates that it has the same interface as `importlib.abc.MetaPathFinder`. This is incorrect because the `find_module()`, `invalidate_caches()`, and `find_spec()` methods are class methods in `PathFinder` and instance methods in `MetaP

[2020-03-01 21:13] hauntsaninja commented on #3801
Yes, I believe some arguments to those methods are also missing default values in the stubs. PR welcome, it would be great if we could get to a point where we no longer have to whitelist these methods in tests: https://github.com/python/typeshed/blob/master/tests/stubtest_whitelists/py3_common.txt#L332

[2020-03-02 01:30] JelleZijlstra commented on #3800
Wow, I didn't know of that trick (defining a typevar within the class) to make the key type work. I can't think of a way to make the value type work correctly either.

I think we should just add a stub for `OrderedDict.fromkeys` and not worry about other possible dict subclasses unless user reports come in that indicate that it's a common problem.

[2020-03-02 18:52] SKHecht opened #3803 "asyncio.create_task returns a Task of type Any"
https://github.com/python/typeshed/blob/master/stdlib/3/asyncio/tasks.pyi#L126

The type annotation for `create_task` is:
[code]
Why not annotate the return as `Task[_T]`? It appears to me that the `Task` class supports this and it would be more correct. But given that this wasn't done in the first place makes me wonder perhaps there is a reason this doesn't work?

There's a couple other instances

[2020-03-03 05:42] JelleZijlstra commented on #3803
Looks like the Any was added as part of a blanket change in https://github.com/python/typeshed/pull/3288/files#diff-3a5b272bf63f81e5766e3137d2eafd51. I think you're right and we should make it be `_T`.

[2020-03-03 22:06] jermenkoo commented on #3787
I can have a stab at some of them

[2020-03-03 22:40] glyph opened #3805 "datetime.datetime is not Liskov-substitutable for datetime.date, but it's typed as if it were"
Consider this code:

[code]

Under mypy, it typechecks.  Mypy's job is to prevent runtime `TypeError`s, right?  At runtime:

[code]

I think #2487 was wrong, and it actually makes more sense to type `datetime.date` and `datetime.datetime` separately.

Perhaps this is a mypy bug though?  Maybe just because something's a subclass, doesn't mean it should be a subtype?  Or a bug in `datetime` because

[2020-03-03 23:20] glyph commented on #3805
(It seems like mypy is aware of the substitutability problem here, and they've all been type:ignore'd away?  https://github.com/python/typeshed/blob/efebe6bcec62d55af52a7d988f18deed58f1f6d5/stdlib/2and3/datetime.pyi#L298-L301)

[2020-03-04 07:57] srittau commented on #3787
@jermenkoo That would be appreciated!

[2020-03-04 08:07] srittau commented on #3805
`datetime` is a subclass of `date` and can generally be used in place of it. Not reflecting this relationship in the stubs would cause countless other problems. I don't think there is a good way to represent that `datetime` violates the LSP in typeshed. Please note that that is true for many classes as well. Nevertheless it has been my experience that generally it's better for stubs to follow the

[2020-03-04 10:23] lucatrv opened #3806 "Issue with function to customize argparse formatter class"
I'm reopening here the issue originally opened for mypy, see [reply](https://github.com/python/mypy/issues/8487#issuecomment-594271309).

I'm using mypy 0.761 with Python 3.8.2 on Windows.

The suggested way to customize the argparse formatter class to control text width is to use a lambda function, as follows:

[code]

but with that code mypy emits the following error:

[code]

I could not find a

[2020-03-04 13:23] srittau commented on #3806
The `formatter_class` argument and `field` should be typed using a callable protocol. Its just called once like this:

[code]

[2020-03-05 19:57] bluetech commented on #3800
Sure. I'll do that after #3799 is settled to avoid a (semantic) conflict.

[2020-03-06 10:24] #3806 closed

[2020-03-06 14:52] sleighsoft opened #3823 "math.nan is not a float"
I am using mypy to do type checking:

[code]

And it outputs: `Returning Any from function declared to return "float"  [no-any-return]`.

But
[code]

I assume this is not an issue with mypy, but correct me if I am wrong.

[2020-03-06 17:03] srittau commented on #3823
I cannot reproduce the problem with mypy 0.761 and Python 3.5.3. What versions are you using?

[2020-03-06 17:36] jaraco opened #3824 "format_map over specified"
The [definition of format_map](https://github.com/python/typeshed/blob/92d53086be540c3eb6ead1967b32854689e4e7c3/stdlib/2and3/builtins.pyi#L436) indicates that the input is a `Mapping[str, Any]` when a `Mapping` is over-specified. `format_map` only requires the `__getitem__` interface of a `Mapping` (not `__iter__` nor `__len__`). Requiring `Mapping` forces someone writing an adapter to supply a fu

[2020-03-06 18:31] sleighsoft commented on #3823
[code]

I am honestly confused. I copied my file that includes the error and when I execute `mypy` on the copy everything is green, but when I do it on the original I get the aforementioned error..

[2020-03-06 18:50] sleighsoft commented on #3823
Looking further into this I think it is not a bug within typeshed or mypy. It is an issue of how mypy resolves/installs my project to do type analysis. I'll close this for now and if I should have any further issue with this I'll just comment here. Thanks for confirming that it indeed works @srittau

[2020-03-06 18:50] #3823 closed

[2020-03-06 22:54] JelleZijlstra commented on #3824
Feel free to submit a PR changing the argument type to a Protocol that just has `__getitem__`.

[2020-03-07 00:02] blueyed opened #3831 "subprocess.Popen: overloads for set stdin/stdout/stderr attributes?"
When passing in `stdin`, `stdout`, or `stderr` those attributes are also set on the `Popen` instances, i.e. not `Optional`/`None`.

Given the many overloads there are already (https://github.com/python/typeshed/blob/2d82e1fb8bcedc75be3ae91f911472931c92490a/stdlib/3/subprocess.pyi#L844-L1156) and that this would (AFAIK) have to multiply them, this might not really be feasible/practical though?

Ref

[2020-03-07 02:41] CraftSpider commented on #3728
It seems that stubtest chokes on 'private' names, like `__dump`. It expects there to be a name literally called `__dump` instead of `_[classname]__dump` on the runtime type. While that kind of method is implicitly undocumented, I think it's still worth it to handle them correctly

[2020-03-07 03:23] hauntsaninja commented on #3728
Thanks for reporting! Just added https://github.com/python/mypy/pull/8502/commits/f1a1b66a400a34def1235d1d33fb74b62febd058 to an already open pull request that should fix this

[2020-03-07 22:43] jbirch commented on #3733
I've had a lot of questions come up as I've begun working through this, and I was hoping I could get some early feedback from the team.

I've attempted a conversion of the *current* wsgi.pyi, which has not changed in Werkzeug's move to 1.0.0. I figured while I was in here, might as well see what I can contribute to across the board. Unfortunately, the changes are shaping up to be quite expansive.

[2020-03-08 15:04] srittau commented on #3733
@jbirch Just a quick answer, not going into detail for now: Maybe it makes sense to just reshuffle the files in a first PR. This keeps the PR smaller and makes it easier to review. Followup PRs can then tackle other issues, possibly one at a time.

[2020-03-09 20:46] CraftSpider opened #3836 "Pytype test blacklist is not OS-independent"
The PathMatcher in pytype_test assumes an OS path separator of `/`, causing it to select invalid paths on windows (I know pytype doesn't officially support windows, but it mostly works, and it would be nice to have this fixed)

[2020-03-09 22:06] JelleZijlstra commented on #3836
This shouldn't be hard to fix, so PRs would be welcome! (cc @rchen152)

[2020-03-09 22:33] #3836 closed

[2020-03-11 13:41] rodrigondec opened #3842 "stdlib.3.unitest.mock missing NonCallableMock methods"
I'm using pycharm and found on this [stack overflow answer](https://stackoverflow.com/a/58053514) that pycharm uses typeshed for its stub autocompletion.

I'm not having the autocompletions of any Mock or MagickMock methods (such as `assert_called
`, `assert_called_once` and so on).

Browsing the typeshed code I stumbled upon this line
https://github.com/python/typeshed/blob/5162c536c88c4bf46ab74e

[2020-03-11 18:49] glyph commented on #3805
@srittau the presence of those four `type: ignore`s suggests to me that there's something missing from the stubs, though; this isn't just a matter of the stubs accurately representing the code and losing some information; mypy is *telling* us that this is a broken thing to do, the information is being thrown away.

[2020-03-11 19:38] srittau commented on #3805
There is not much typeshed can do here. The implementation does not adhere to the LSP, the stubs follow that implementation.

[2020-03-11 19:38] #3805 closed

[2020-03-12 02:01] CraftSpider commented on #3728
Is there a good way to whitelist a module on only certain OSes? Stubtest complains for a bunch of modules that don't exist on windows, while I would like to start it running on things like winreg and msvcrt when it's run on windows

[2020-03-12 13:04] srittau commented on #3842
The probable reason `NonCallableMock` (and the other mock classes) were defined like this is so that they can be passed in place as any other object without type checkers complaining. I think I remember some discussion about it where it was suggested that the mock classes should derive from `Any` instead, something like this:

[code]

I quickly tried this, and it seems to work fine with mypy. I th

[2020-03-12 14:02] bsolomon1124 opened #3844 "Python2/urlparse and str/unicode"
I'm wondering if it may make sense to use `Union[str, unicode]` in place of `str` in several places in `stdlib/2/urlparse.pyi`.  Specifically, the members of `_ParseResult` and `_SplitResult` may make sense as basestring.  The urlparse docs do show examples as `str` (unless we assume `unicode_literals` has been imported behind the scenes 😉 ), but they also make notes such as "If the URL is decompo

[2020-03-12 14:15] srittau commented on #3844
Members that can be either should indeed be typed as an union of the two. For argument types, `Union[str, unicode]` should be expressed as `Text`.

[2020-03-12 22:45] rodrigondec commented on #3842
@srittau Assign this to me plz

[2020-03-14 04:03] #3473 closed

[2020-03-15 16:25] lladhibhutall commented on #3774
This seems doable for a beginner, @srittau any pointer where to start?

[2020-03-15 16:31] srittau commented on #3774
@lladhibhutall `stdlib/3/ipaddress.pyi` has the definitions for `IPv4Network` and `IPv6Network`. The method needs to be added there in the correct class. It's possible that this method is defined on a common superclass of the two concrete classes, this needs to be checked against the implementation.

`supernet_of` is also missing and should be added at the same time. Both methods were added in Pyt

[2020-03-15 18:21] hauntsaninja commented on #3728
If you run `tests/stubtest_test.py` on Windows, it should already run on `winreg` and `msvcrt`. If you don't see any errors regarding those modules, maybe attempt to run stubtest directly on them? E.g. `python3.8 -m mypy.stubtest --custom-typeshed-dir ~/wherever/typeshed winreg`

For whitelisting additional errors on Windows, maybe try modifying `tests/stubtest_test.py` to pass in an extra whiteli

[2020-03-15 19:55] CraftSpider commented on #3728
Currently I'm just looking at local improvements. While I wouldn't be against working towards windows CI, I can't dedicate to that cause right now. Maybe once I've finished my current main project, stdlib module/package existence.

[2020-03-16 01:22] dosisod opened #3850 "[WIP] Add stubs for waitress"
Hello! This is my first issue on this project, but I would like to help by adding stub files from waitress (https://github.com/Pylons/waitress/), a pure-python WSGI library.

I have asked for permission (https://github.com/Pylons/waitress/issues/286), and am awaiting a response. Once I the go-ahead I will put in a pull request with some stub files.

Let me know if you have any questions!

[2020-03-16 11:42] lladhibhutall commented on #3774
@srittau In the same module, there is the function called `compare_networks` which has been deprecated in 3.7, should I put a `version_info` check on that as well?

[2020-03-16 11:50] srittau commented on #3774
As long as the functions are still available, they should stay in the stubs. We generally try to follow the implementation as close as possible.

[2020-03-16 12:52] lladhibhutall commented on #3774
@srittau `tests/check_consistent.py` is failing because `third_party/2/ipaddress.pyi` does not match file `stdlib/3/ipaddress.pyi`. Should I just copy the changes there as well?

[2020-03-16 13:29] srittau commented on #3774
@lladhibhutall Yes, please. They will ignored there anyway, because of the version_info check.

[2020-03-16 14:44] lladhibhutall commented on #3803
@SKHecht @JelleZijlstra Anybody working on this? It seems like the issue is easy enough that a beginner can work on.

[2020-03-16 14:54] lladhibhutall commented on #3787
@jermenkoo Are you still working on it?

[2020-03-16 14:56] jermenkoo commented on #3787
@lladhibhutall we can split it, just pick one of `xml` sub-modules and create a typestub for that

[2020-03-16 15:09] lladhibhutall commented on #3787
@jermenkoo Since you have been working on it for longer, you can tell me which ones you have already worked on so that I don't work on the same by mistake.

[2020-03-16 15:23] jermenkoo commented on #3787
I was working on `xml.dom.pulldom` - everything else is upforgrabs! Let me know which one you pick so that we sync about the work here

[2020-03-16 16:43] lladhibhutall commented on #3787
@jermenkoo Cool, I will pick up the `xml.sax.expatreader`

@srittau Should we just work on the modules mentioned in the issue? There are few other modules for which stubs are not present in typeshed.

[2020-03-16 16:56] srittau commented on #3787
@lladhibhutall Any additions are appreciated.

[2020-03-17 09:06] #3774 closed

[2020-03-17 10:31] lladhibhutall commented on #3140
@srittau I can work on this, I just have to add the functions in `BaseProxy` class stub right?

[2020-03-17 14:13] srittau commented on #3140
@lladhibhutall Basically yes, although it's probably enough to add just `__init__`, `__deepcopy__`, `__reduce__`, `_callmethod`, and `_getvalue`. The other methods are private and undocumented, so unless someone specifically wants to have them, we don't need to add them.

[2020-03-17 14:18] lladhibhutall commented on #1976
@srittau Can you explain what the problem is? I can submit a patch.

[2020-03-17 15:03] lladhibhutall commented on #3140
@srittau How do I understand what is the type of an argument? Is there any trick to it, I am very new to typeshed, also there is a `Token` class mentioned in `__all__` but that is not there in the stub, will also add that.

[2020-03-17 15:08] BoboTiG opened #3858 "Stubs for filecmp are missing Pathlike arguments"
(Inspired from #2267)

Starting with Python 3.6, `filecmp` functions can handle path-like objects, including:
[code]
Reproduction:
[code]
Will output:
[code]

I will not have time to work on it, but I think it is a good thing to have a open issue for anyone wanting to give a hand.

[2020-03-18 12:21] lladhibhutall commented on #3858
@srittau Opened a PR. Let me know any changes, thanks.

[2020-03-18 22:59] DMR-coding opened #3867 "typing.ForwardRef missing from stdlib stub"
The `ForwardRef` class is exported from the stdlib `typing` module, and is public per the documentation as of Python 3.7 (https://docs.python.org/3.7/library/typing.html#typing.ForwardRef). However, it is not included in the `typing` stub.

[2020-03-19 00:38] JelleZijlstra commented on #3867
PRs are welcome!

[2020-03-19 06:03] lladhibhutall commented on #3867
@DMR-coding Are you working on it?

[2020-03-19 06:17] DMR-coding commented on #3867
I don't have the domain knowledge to contribute code in Typeshed right now. I might be able to spin up at some point in the future if nobody's snagged this by then.

[2020-03-19 16:27] bsolomon1124 commented on #3844
Same thing for [`kwargs` of `threading.Thread`](https://github.com/python/typeshed/blob/master/stdlib/2and3/threading.pyi), it looks like.  Will open a PR as soon as I have time.

[2020-03-19 17:39] lladhibhutall opened #3869 "Missing stub for Token in multiprocessing.managers"
`from multiprocessing.managers import Token`
gives:
` error: Module 'multiprocessing.managers' has no attribute 'Token'`
I checked and `Token` is present in `__all__ `

I can submit a patch if required.

[2020-03-20 10:59] srittau commented on #3140
@lladhibhutall Usually a mix of reading the documentation, reading the source code of the implementation, and possibly experiments, with focus on reading the source code.

[2020-03-20 11:11] #3140 closed

[2020-03-20 11:13] srittau commented on #3869
PRs are always appreciated!

[2020-03-20 13:37] #3842 closed

[2020-03-20 18:02] Mattwmaster58 opened #3873 "mimetypes.guess_type typing wrong for python 3.8"
Since python 3.8, [`mimetypes.guess_type()` supports a Path object as a well a str](https://docs.python.org/3/library/mimetypes.html?highlight=mimetypes#mimetypes.guess_type)

[2020-03-20 18:19] lladhibhutall commented on #3873
@Mattwmaster58 You are working on this? I can submit a patch!

[2020-03-20 18:44] Mattwmaster58 commented on #3873
@lladhibhutall I'm not working on it ATM

[2020-03-22 09:06] lladhibhutall commented on #3824
@jaraco Are you working on this?

[2020-03-22 14:37] jaraco commented on #3824
I am not. I would be delighted if someone else would work on it.

[2020-03-22 15:47] #3869 closed

[2020-03-22 15:52] #3867 closed

[2020-03-22 15:53] #3858 closed

[2020-03-22 18:50] #3873 closed

[2020-03-22 21:24] lladhibhutall commented on #3803
@JelleZijlstra I am working on it

[2020-03-24 11:30] julian-klode opened #3881 "fcntl.ioctl() regression: mutate_flag now mandatory for read-only buffer"
#3680 now mandates the presence of a boolean mutate_flag in case of an read-only bytes buffer for the argument, which seems wrong, it should be optional (it does not do anything).

This breaks code like this:

```buf = fcntl.ioctl(fileno, termios.TIOCGWINSZ, 8 * b' ')```

which now pointlessly needs to be written as

```buf = fcntl.ioctl(fileno, termios.TIOCGWINSZ, 8 * b' ', False)```

or reworked

[2020-03-24 11:33] julian-klode commented on #3881
This also breaks compatibility with Python 2 code, as it does not accept the mutate_flag argument.

[code]

[2020-03-24 11:42] julian-klode commented on #3881
Fix in #3882

[2020-03-24 14:46] #3803 closed

[2020-03-24 14:54] #3881 closed

[2020-03-24 21:59] lladhibhutall commented on #3844
@bsolomon1124 Are you working on this? I can take a stab at it and submit a patch

[2020-03-25 11:41] bsolomon1124 commented on #3844
Please feel free to @lladhibhutall , or I should be able to get to it this weekend.

[2020-03-26 13:56] lladhibhutall commented on #3576
@srittau I am trying to create a Protocol in [PR#3877](https://github.com/python/typeshed/pull/3877) but when I use `Protocol[_KT, _VT_co]` it says `Invariant type variable '_KT' used in protocol where contravariant one is expected`, can't understand what could be causing this.

[2020-03-27 14:46] BvB93 opened #3884 "[question] dictionary _KT typevar and hashability"
Dear all,

I recently noticed that the [``_KT``](https://github.com/python/typeshed/blob/71804c38fc07eb6cbab5ae38ef3d4c8651e4fef5/stdlib/2and3/builtins.pyi#L27) typevar used in annotating [``dict``](https://github.com/python/typeshed/blob/71804c38fc07eb6cbab5ae38ef3d4c8651e4fef5/stdlib/2and3/builtins.pyi#L964) has no upper ``bound`` specified, yet dictionary keys must (as far as I'm aware) always

[2020-03-27 22:35] lladhibhutall commented on #3801
@sangaline @hauntsaninja Working on a patch, other than `find_module()`, `invalidate_caches()`, and `find_spec()` the remaining methods are undocumented, just wondering if we need stubs for those.

[2020-03-28 20:28] JelleZijlstra commented on #3884
The `Hashable` type can't really be typechecked (because all types are hashable by default); see prior discussion in #2148, python/mypy#1746, python/mypy#2455.

[2020-03-28 20:29] #3801 closed

[2020-03-29 18:47] lladhibhutall commented on #2542
@srittau Do you mean `jwt.algorithms`? I will try to submit a patch.

[2020-03-29 21:10] dosisod commented on #3850
I have asked and received permission to submit stub files for the Waitress library. Despite the library supporting python2, the author does not want to continue supporting python2, so the stubs where moved into the `third_party/3/` folder.

[2020-03-30 23:57] ethanhs commented on #2491
I agree with what Jukka says above. So I think the current proposal is:

[code]

Where a `3/` folder becomes `types-package` and a `2and3/` folder becomes `types-2and3`.

Also, I would like to move forward with https://github.com/python/typeshed/pull/3656, as I don't think it will be affected by what we decide on here. I think this would be a good first step in making typeshed modular, and carries

[2020-03-31 07:37] Kazy opened #3893 "ftplib.all_errors: invalid type definition"
Hello.

In `ftplib.pyi`, `all_errors` is defined as `Tuple[Exception, ...]` (see https://github.com/python/typeshed/blob/master/stdlib/2and3/ftplib.pyi#L40). This seems to be incorrect because `all_errors` doesn't contain instances of `Exception` but classes (see https://github.com/python/cpython/blob/master/Lib/ftplib.py#L66). It can't otherwise be used in an `except` clause. It should be I belie

[2020-03-31 08:40] srittau commented on #3893
A PR would be appreciated!

[2020-03-31 08:55] srittau commented on #2491
I still see this structure as problematic. Recent example I came across: It wouldn't be possible to create an accurate package for pytest, which includes `pytest` and `_pytest` modules.

[2020-03-31 09:05] ethanhs commented on #2491
Yeah, on further thought, I think we will probably have to use distribution names.

[2020-03-31 13:26] srittau commented on #2491
I wonder whether we can ditch the "stubs" (or "third_party") part, though, to minimize nesting. Currently, the only directories we have are "tests", "third_party", and "stdlib". The only "special" directories we'd have are "stdlib" and "tests", while all other directories would refer to package names.

[2020-03-31 14:23] ramalho opened #3894 "statistics.median_low and median_high accept more than float, Decimal, Fraction"
Evidence:

[code]

However, the stub for `median_low` says:

[code]

The items must be comparable. I'll do some research and propose a pull request.

[2020-03-31 14:36] srittau commented on #3894
Same for `median()` and `median_high()`.

[2020-03-31 15:21] ramalho commented on #3894
@srittau `median()` is not as flexible: if there is an even number of items, it needs to interpolate, so the items need to support `+` and `/`. I'd say it's OK to annotate `median()` with type `_Number`. But not `median_high()` and `median_low()`.

[code]

[2020-04-01 00:27] ethanhs commented on #2491
Yeah, while I don't like the nesting, it would be more bothersome to have all the packages at the toplevel IMO.

If we are going to combine all of the 2/3 packages into 2and3, I believe that means we will only ever have one of: Python 2 type stubs, Python 2 and 3 stubs, OR Python 3 stubs. If that is the case, I think we can get rid of versioning of packages, and just include in the metadata file w

[2020-04-01 17:47] #3472 closed

[2020-04-01 23:42] cosenal opened #3898 "@singledispatchmethod fails mypy validation"
I am trying to validate the following example straight [from the docs](https://docs.python.org/3/library/functools.html#functools.singledispatchmethod) -- Here I renamed the two methods `_` from the example to `_int` and `_bool` to obviate an issue already reported, i.e., https://github.com/python/mypy/issues/2904
[code]

When I run mypy checks on this file, I get the following errors:
[code]

Pyt

[2020-04-02 07:39] hauntsaninja commented on #3898
Thanks for the report! Linked PR fixes your repro for me locally.

[2020-04-02 07:52] #3492 closed

[2020-04-03 07:20] ethanhs commented on #2272
FWIW, I came across this issue and remembered that I had downloaded the top ~5000 packages for testing pegen, the new parser for Python.

So I went ahead and gathered data on the most popular modules. Here is a summary of the top 25:

| Name        | % of total imports   |
|-------------|----------------------|
| sys         | 0.198427792570052    |
| os          | 0.18350608596424495  |
| logging

[2020-04-03 15:15] lladhibhutall commented on #2611
@srittau as a type for buffer protocol is not available, should I just put `array.array[Any]`? Solves the problem for now.

[2020-04-03 17:34] JukkaL commented on #2272
That's very interesting information! It would be interesting to also all collect similar stats for third-party packages, and to find the top stdlib packages that are *not* covered by typeshed right now.

[2020-04-03 17:36] CraftSpider commented on #2272
Top stdlib packages not covered by typeshed (or even partially covered but marked incomplete) would be nice, as it would give me a place to focus my completion efforts. Previously I've just been working on things basically either alphabetically or by the incredibly scientific 'Whatever looks fun' method.

[2020-04-03 18:02] JukkaL commented on #2491
I and @ilevkivskyi will have some bandwidth to work on this in April/May. We discussed various options offline, and I can write a complete draft proposal next week (based on the discussion above and offline discussions).

To deal with `pytest` and `_pytest`, we could provide metadata saying that `pytest` includes `_pytest`, and that `_pytest` is an "internal" package and shouldn't get a dedicated

[2020-04-03 18:29] Gelbpunkt opened #3901 "asyncio python 3.9 stub syntax error"
Hi,
I'm running mypy with python 3.9.0a5 and keep getting this error:
`/usr/local/lib/python3.9/site-packages/mypy/typeshed/stdlib/3/asyncio/__init__.pyi:97: error: syntax error in type comment`

I am not familiar with pyi formatting, I would have loved to fix this, but I cannot see the issue.
The related line is `DefaultEventLoopPolicy: Type[AbstractEventLoopPolicy]`.

[2020-04-03 20:47] rmorshea opened #3902 "Match.group can return None"
All usages of `Match.group` appear to return strings however, for optional named groups it can return None:

[code]

[2020-04-03 22:21] JelleZijlstra commented on #3901
This is python/mypy#8614.

[2020-04-03 22:21] #3901 closed

[2020-04-03 23:36] ethanhs commented on #2491
This seems like an unfortunate hack, and would probably confuse people who didn't know about it. If we kill the Python versioned folders, but add the distribution names, we would have the same level of nesting we do now, which seems acceptable to me.

[2020-04-04 00:17] #3898 closed

[2020-04-04 00:20] JelleZijlstra commented on #2611
That should be fine yes. Ideally the `Any` should be something more specific.

[2020-04-04 13:57] BvB93 commented on #3884
Thanks for the info!
I'd consider this question answered.

[2020-04-04 13:57] #3884 closed

[2020-04-04 14:45] lladhibhutall commented on #3894
@ramalho I can submit a patch if you want?

[2020-04-04 20:09] deveshks opened #3906 "Confusion on return type of difflib.get_closest_matches"
There is a mismatch between the return type mentioned in the docs of [difflib.get_close_matches](https://docs.python.org/3/library/difflib.html#difflib.get_close_matches) (`List[str]`) vs what is mentioned in typeshed [source code](https://github.com/python/typeshed/blob/master/stdlib/2and3/difflib.pyi#L42) (`List[Sequence[_T]]`)

This was observed when I was trying to add type annotations to http

[2020-04-05 04:24] McSinyx commented on #3906
As you mentioned in the linked PR, this is a duplicate of GH-2067.  Generally it's not a good idea to re-file an issue.

[2020-04-05 04:34] deveshks commented on #3906
Hi @McSinyx

I had a discussion with @pradyunsg and he mentioned that https://github.com/python/typeshed/issues/2067 is in fact not a different bug, hence I have filed this bug.

[2020-04-05 04:39] pradyunsg commented on #3906
s/not a different/definitely a different/

[2020-04-05 04:49] JelleZijlstra commented on #3906
This does sound like the same issue as #2067. As I said there, it's fixable with an overload, and I just submitted #3908 doing that.

Here's the relevant behavior:
[code]

[2020-04-05 05:55] GPHemsley opened #3909 "subprocess.CompletedProcess incompatibly redefined"
Typehinting with `subprocess.CompletedProcess` results in the following error:

Adding a type parameter (like `bytes`), however, results in the following error at runtime:

This is because the real `subprocess.CompletedProcess` is not a generic type; it is redefined as one in the type stub.

See also PyCQA/pylint#3240.

[2020-04-05 08:53] deveshks commented on #3906
Thanks @JelleZijlstra for the quickaround and the fix. Really appreciate it 😄

[2020-04-05 12:08] srittau commented on #3909
You need to either use `from __future__ import annotations` (Python 3.7+) or quote the type annotation to prevent runtime errors. pylint supports both forms IIRC.

[2020-04-05 12:08] #3909 closed

[2020-04-05 12:12] #2067 closed

[2020-04-05 12:12] #3906 closed

[2020-04-05 12:18] srittau commented on #3902
There is a note in the stubs:

https://github.com/python/typeshed/blob/23e380ac83e1f8287a346263375437a605ab98fc/stdlib/3/typing.pyi#L549

This needs to be amended about it being potentially `None` in case of strings. Overloads and literals should be able to narrow this down. PR welcome.

[2020-04-05 14:08] GPHemsley commented on #3909
Oh. It is not clear in any of the `typing` documentation that a quoted string is a valid type hint. The only mention of it (in retrospect) is in the context of using `TYPE_CHECKING`.

[2020-04-05 15:52] adamtheturtle opened #3911 "`flask.request.input_stream` has `getvalue` but `mypy` says it does not"
Take the following example code (`example.py`):

[code]

`pip install flask mypy`

[code]

As the code is valid, I expect there to be no error.

[code]

[2020-04-05 16:02] #2611 closed

[2020-04-05 16:02] #3893 closed

[2020-04-05 21:38] srittau commented on #3909
This is documented in [PEP 484](https://www.python.org/dev/peps/pep-0484/#forward-references). I have to admit, though, that a comprehensive typing guide is missing. Currently the information is spread between PEP 484, the mypy documentation, and the typing module documentation.

[2020-04-06 00:38] jbirch commented on #3733
Thanks for your feedback Sebastian, it clarified a lot of things in my head.

I've abandoned trying to shore everything up, and have swapped to just moving types around. I expect to have a PR by the end of next weekend.

[2020-04-06 10:20] srittau commented on #3911
`request.input_stream` is just a wrapper around the `wsgi.input` field defined in [PEP 3333](https://www.python.org/dev/peps/pep-3333/). From what I understand, it's just an implementation detail that it is a `BytesIO` when flask is run from the command line.

[2020-04-06 11:03] adamtheturtle commented on #3911
Thank you for your response @srittau.

I'm not sure what you mean by this but the Flask endpoint is being run here from its `werkzeug` test client.

I'm not an expert in this, but a few things lead me to think that I should not get a `mypy` error.

* The code works - my interpretation of the `mypy` error is that the code will not work

I'm not sure how to differentiate between the types used in th

[2020-04-06 11:12] srittau commented on #3911
When running tests, the tests control the WSGI environment and therefore the type of `Request.input_stream`. As a counter-example, the type of `Request.input_stream` when running a werkzeug app under Apache & mod_wsgi is `mod_wsgi.Input`.

[2020-04-06 11:18] adamtheturtle commented on #3911
I'll happily defer to your understanding if you wish to close this, and thank you for the explanation.

My expectation as a user is always that if my code works and thoroughly annotated, `mypy` should not complain. I understand that this might not be a perfect mindset. My expectation, if that were the perfect mindset, would be perhaps for the `input_stream` annotation to be a `Union` of what it cu

[2020-04-07 08:30] radkujawa commented on #3244
also `priority_names`, `facility_names` and `priority_map` are missing

[2020-04-07 14:06] lladhibhutall commented on #3902
@rmorshea Are you working on it? I can submit a patch if you want

[2020-04-07 15:25] lladhibhutall commented on #3902
@srittau When I am trying to replicate it since return type of `re.match` is `Optional[Match[AnyStr]]`, mypy complains about calling `.group` on `None` is there any way to handle this scenario?

[2020-04-07 15:29] LarsMichelsen opened #3913 "attr-defined not working on werkzeug.wrappers.BaseRequest childs"
The PR #2740 added `__setattr__` and `__getattr__` to the `werkzeug.wrappers.BaseRequest` definition.

https://github.com/python/typeshed/blob/60cdee5b2d2366bf9bd2b50c05f850411ef91eb0/third_party/2and3/werkzeug/wrappers.pyi#L92

I have seen the comment about the change, but I cannot understand why this is a good way to go. This class is often used as parent class. No attribute checks can be made i

[2020-04-07 15:46] srittau commented on #3902
@lladhibhutall This should use overloads, e.g. the return type should depend on whether an argument is given, it is 0, another int or a str.

[2020-04-07 20:02] hauntsaninja commented on #3902
Note it can return None for numbered groups as well: `assert re.match("(x)?y", "y").group(1) is None`. This change might hurt ergonomics, pretty much all uses of groups I've seen assume if there's a match their groups will be not None.

[2020-04-07 20:36] rmorshea commented on #3902
IMO having a false positive (i.e. the return type is `Optional[str]` for required match groups) is better rather than a false negative, but if the maintainers want to keep as-is to avoid inconvenience I'd understand that as well.

[2020-04-07 21:09] hauntsaninja commented on #3902
typeshed generally prefers false negatives over false positives (https://github.com/python/typeshed/blob/master/CONTRIBUTING.md#what-to-include), but maybe Sebastian has an opinion on whether to make Optional the return type of zero, one or both of named and (non-zero) numbered groups.

[2020-04-07 21:12] hauntsaninja commented on #3902
It looks like the change was made, and then reverted in https://github.com/python/typeshed/pull/3190

[2020-04-07 21:48] rmorshea commented on #3902
Ok, seems like false-positive caused problems. Thanks @hauntsaninja.

[2020-04-07 22:27] rmorshea opened #3915 "Missing type information for cached_property decorator (new in Py3.8)"
This was added in Python 3.8:

https://docs.python.org/3.8/library/functools.html?highlight=s#functools.cached_property

I don't see a Python 3.8 specific directory here yet so perhaps there's already an effort under way to add one.

[2020-04-07 23:52] hauntsaninja commented on #3915
`functools.cached_property` is present in the stubs, see https://github.com/python/typeshed/blob/master/stdlib/3/functools.pyi#L91
For more information on how typeshed does versioning, see https://github.com/python/typeshed/blob/master/CONTRIBUTING.md#stub-versioning

[2020-04-08 00:16] rmorshea commented on #3915
Hmm maybe I have an old MyPy version and that's why it doesn't recognize it.

[2020-04-08 00:16] #3915 closed

[2020-04-09 15:59] JukkaL commented on #2491
Here's a new proposal that I came up with @ilevkivskyi. I tried to summarize various topics discussed earlier, but I may have missed something.

# Why are we proposing this?
- Monolithic typeshed makes typeshed updates difficult, as all stubs must be updated in sync.
- Errors in stubs in a monolithic typeshed are serious, as all users will be affected. Error are more benign in a modular typeshed,

[2020-04-09 17:08] srittau commented on #2491
Thank you for writing this up, this looks very good. A few notes:

* If just incrementing version numbers there is a slight change of race conditions and outdated pypi caches. An alternative approach could be to have just one build per day, and use a date-based version number.
* On a related note, something which you already alluded to are the rules for the version field: I think we should clearly

[2020-04-10 03:42] dimaqq opened #3920 "type for SSLContext.options is Enum and not int (at least in py3.8)"
As far as I can see `typeshed` declares it as an int here:

https://github.com/python/typeshed/blob/b3c86bd7ff9fb5fa485d7f4ca2e9ecdb8bbe9ab8/stdlib/2and3/ssl.pyi#L249-L251

However, in modern Python it's actually an Enum, and I can use it like this here:

https://github.com/HENNGE/aapns/blob/5ae57478be8cf5438d631ec8c5b82526990af8c7/src/aapns/connection.py#L100-L105

Inlined: `OP_NO_TLSv1 not in ss

[2020-04-10 12:06] srittau commented on #3920
According to the docs, `options` was changed in 3.6 to an enum. PR welcome!

[2020-04-11 05:28] hauntsaninja commented on #3902
There's also some hope a plugin could improve results here, e.g.: https://github.com/python/mypy/pull/7803

[2020-04-14 13:18] aabramovrepo opened #3926 "mypy complains about heapq: Module has no attribute "_heapify_max""
Hi All,

   running `mypy` over the piece of code:

[code]

reports the following error:

`error: Module has no attribute "_heapify_max"`

However, `_heapify_max` exists in the installed `heapq` module. Does anybody have an idea? The error arises as soon as I start annotating the function. Without any type annotation (for both return value and arguments) `mypy` does not complain.

Thanks a lot in

[2020-04-14 14:56] JelleZijlstra commented on #3926
This can be fixed by adding the function to the heapq stub at https://github.com/python/typeshed/blob/master/stdlib/3/heapq.pyi.

[2020-04-14 17:09] gramster commented on #2491
Overall I like this proposal. I think it's important to note that type stubs are useful beyond just the realm of static type checkers. In particular, editors are increasingly leveraging type stubs to greatly improve the editing experience in dynamic languages. I.e., apart from type checking, stubs can be used to provide autocomplete and other features. Visual Studio Code, Jedi, and PyCharm can all

[2020-04-14 19:11] hauntsaninja commented on #3926
(You only get the error once you start annotating, because by default mypy does not check unannotated functions, see first point under https://mypy.readthedocs.io/en/stable/common_issues.html#no-errors-reported-for-obviously-wrong-code)

[2020-04-15 11:59] mmoehring opened #3927 "FTP.size returns str instead of int"
According to the docs ftplib/FTP.size should return an `int` or `None` (in Python 3.7). But

    size: int = ftp.size(remote_file)

causes the error

    Incompatible types in assignment (expression has type "str", variable has type "int")

[2020-04-15 12:21] srittau commented on #3927
Looks like an easy fix. PR welcome!

[2020-04-16 18:19] mbenbernard opened #3928 "FrozenSet does not behave covariantly with FrozenSet"
mypy 0.750 behaves strangely when run on the following code snippet:

[code]

As you can see, FrozenSet doesn't seem to behave covariantly, despite the fact that typing.py says otherwise:

[code]

The only real difference that I see between FrozenSet and the other type aliases defined in typing.py is that it specifies a built-in type as its origin (i.e. 'frozenset') instead of an ABC.

Is this the

[2020-04-20 10:22] srittau commented on #3928
@ilevkivskyi `FrozenSet` is typed as `FrozenSet = TypeAlias(object)` in typeshed, like `Set`, `Counter`, etc. Isn't `FrozenSet` special cased by mypy?

[2020-04-20 10:55] ilevkivskyi commented on #3928
But `frozenset` used to be invariant. I noticed it was already fixed few weeks ago in https://github.com/python/typeshed/pull/3808, there however was no mypy release that has the fix (it just missed 0.770 by few days).

[2020-04-20 10:55] #3928 closed

[2020-04-20 17:29] JukkaL commented on #2491
@srittau Hmm, I think that race conditions are possible even when using date-based versioning, so we may need something else. Here are some ideas:

* Wait 5 minutes before uploading. If there are any more recent changes to the same stub package during the wait, skip upload (the more recent package will take precedence). This way we won't have two uploads very close to each other, reducing the like

[2020-04-20 17:53] gramster commented on #2491
Mostly the tools I already mentioned. Visual Studio Code's language server and Jedi definitely. PyCharm possibly although I can't speak for what they do.

[2020-04-21 00:54] hauntsaninja opened #3932 "Remove typing.AwaitableGenerator"
As mentioned in the code, AwaitableGenerator doesn't exist in typing.py or PEP 484.
https://github.com/python/typeshed/blob/626a0f3f7353e484e8a6c5d7a2b3f37e4694e132/stdlib/3/typing.pyi#L208

It appears it's an "intentionally undocumented" implementation detail of mypy, as mentioned in https://github.com/python/mypy/issues/2907. Ideally, these shouldn't leak into typeshed. I've created issue https:

[2020-04-22 08:06] #3927 closed

[2020-04-25 05:27] Caligatio commented on #3500
To enforce what @plannigan said, checking against the version is the preferred method [per the documentation](https://mypy.readthedocs.io/en/stable/common_issues.html?highlight=import#python-version-and-system-platform-checks).

[2020-04-25 10:55] srittau commented on #3500
@vemel's version is the preferred idiom.

[2020-04-25 10:55] #3500 closed

[2020-04-25 11:14] #3913 closed

[2020-04-26 02:19] ikonst commented on #3884
Given that certain types are marked as non-hashable (#3219) wouldn't this have at least a fringe value?

[2020-04-27 22:17] ethanhs opened #3946 "More precise typing of array.array"
`array.array` could be more precisely typed based on the typecode passed in to the constructor:
https://docs.python.org/3/library/array.html

Should be pretty straight forward to fix with overloads and literal values.

Note that it is currently incorrect with code like:

[code]

[2020-04-28 15:23] rodrigondec opened #3949 "unitest.mock NonCallableMock.assert_has_calls with wrong arg `calls` type"
# Problem
On line
https://github.com/python/typeshed/blob/f7d240f06e5608a20b2daac4e96fe085c0577239/stdlib/3/unittest/mock.pyi#L104
The arg `calls` is of type `_CallList`
https://github.com/python/typeshed/blob/f7d240f06e5608a20b2daac4e96fe085c0577239/stdlib/3/unittest/mock.pyi#L59

But the expected arg is a `Iterable` such as `List`. [As is can be seen on implementation](https://github.com/python/

[2020-04-29 06:42] vegarsti opened #3951 "BinaryIO does not have peek method"
When opening a file with binary mode, `typing.BinaryIO` is inferred.
This type should have the [https://docs.python.org/3/library/io.html#io.BufferedReader.peek](`peek`) method.
It looks like this is known, judging by the TODO on this line in the `typing.pyi` stub:
https://github.com/python/typeshed/blob/bc90043e546f3d242e0f2a276194d77ba9811781/stdlib/3/typing.pyi#L509
(There are also other `TODO`

[2020-04-29 18:24] ngie-eign opened #3953 "type hints need to be distributed with cpython/projects, instead of being in a separate repo"
While testing out type hints with mypy dealing with some of the customizations my group made to cpython 3.8.2, I was surprised and shocked that the type hints for stdlib live in a separate repo, instead of being distributed with the base interpreter.

Distributing the .pyi files with the base interpreter and individual projects should be done to reduce friction for end-users that customize cpython

[2020-04-29 21:31] Michael0x2a commented on #3953
Your concern that the .pyi files might be incorrect in some places isn't a hypothetical concern --  that's been the state of affairs for the past few years. (This _is_ a volunteer project, after all.) Some of the more obscure corners of the standard library are fairly incomplete, and some of the more magical corners (such as the `map` function) can't yet be typed with full precision using typing f

[2020-04-29 22:09] srittau commented on #3953
As @Michael0x2a pointed out, shipping the stubs with the Python interpreter at this point would make no sense for quality reasons and because it is a fast moving target. This could change in the future, but is a decision of the CPython project anyway, not of the typeshed project.

[2020-04-29 22:09] #3953 closed

[2020-04-29 22:09] hauntsaninja commented on #3953
On the subject of "what if existing type hints fall out of sync", typeshed CI can detect a lot of issues automatically by comparing stubs to what it finds via runtime introspection of the stdlib. Although this approach isn't perfect, it's able to catch a lot of common issues and generally help prevent divergence. See https://github.com/python/typeshed/issues/754 for more details.

[2020-04-29 23:23] hauntsaninja opened #3954 "Supporting Python 3.9"
It looks like we're still a couple weeks away from beta, so maybe this is a little early, but thought I'd make a list of things we could do and we can start chipping away at it:

- [ ] Update typeshed for changes in py39.
- [ ] Update typeshed for additions in py39.
We can use https://gist.github.com/hauntsaninja/6870c77b502c0d19e33c831adac976ac as a starting point. Note if you're looking to regen

[2020-04-30 00:56] ramalho commented on #3894
Thanks for your patch, @lladhibhutall. However, I don't think it addresses the issue. It's not just a matter of adding support for `str`.

The real issue is that those functions work with any objects that can be ordered. I was told somewhere else that a PEP 544 protocol would solve this issue, but I haven't understood PEP 544 yet, so I don't know where to start... except studying PEP 544 which I w

[2020-04-30 01:07] hauntsaninja commented on #3894
You'll also need a TypeVar, as mentioned in https://github.com/python/typeshed/pull/3912#issuecomment-610562644

A good place to read about Protocols, or in general, any typing feature which mypy supports is the mypy documentation: https://mypy.readthedocs.io/en/stable/protocols.html. Feel free to ask here if you have questions.

[2020-04-30 04:58] JelleZijlstra commented on #3951
This is probably fine to add. The trouble with the IO protocols is that they are fairly ill-defined, in that there are lots of variations in exactly what methods different IO classes have, so it's tricky to say exactly which methods should be on each IO protocol. However, given that this method exists on the return type of `open()`, I agree we should add it.

No tests are necessary.

[2020-04-30 05:13] JelleZijlstra commented on #3949
PRs would be welcome!

[2020-04-30 05:43] vegarsti commented on #3951
I see. Thanks for the quick reply!

[2020-04-30 06:38] vegarsti commented on #3951
@JelleZijlstra FYI, I [opened a PR](https://github.com/python/typeshed/pull/3957) (sorry if you already got a notification from the mention there)

[2020-04-30 09:52] lladhibhutall commented on #3894
@ramalho I am closing the PR for now, couldn't find time to go through it. Please feel free to assign the issue to someone else.

[2020-04-30 10:12] srittau commented on #3894
@lladhibhutall Thank you for looking into this.

[2020-04-30 10:24] srittau commented on #3951
I didn't see this discussion here, so I answered in the PR. But quickly: I don't think we should add `BinaryIO.peek()` as the "implementation" in `typing.BinaryIO` does not have it. Also, `open()` in the stubs returns an `IO[Any]` for Python 3. Maybe it's time we added a custom sub-type to be returned by `open()` (deriving from `IO`/`BinaryIO`)?

[2020-04-30 10:33] srittau commented on #3954
Sounds good. One problem is that Travis CI often lags a bit behind on new Python versions.

I think we can already include Python 3.9 changes if someone submits them (and I think we already have a few), but for a concentrated effort I would wait for beta 1. Otherwise it's easy to miss something or change something that is later changed again.

If we enable 3.9 in CI, we should make the 3.9 checks

[2020-05-01 00:49] ramalho commented on #3894
I made some progress. This protocol satisfies the `sorted()` call inside `median_low` and `median_high`:

[code]

However, if I declare `median_low` like below, I get back a `Sortable` which I need to cast to some useful type:

[code]

How could I use a TypeVar to solve this problem? Thanks for any help!

[2020-05-01 02:04] JelleZijlstra commented on #3894
You'd need to define a `_SortableT = TypeVar("_SortableT", bound=Sortable)`, then use the typevar instead of both occurrences of Sortable in the definition you posted just now.

[2020-05-01 05:08] #3894 closed

[2020-05-03 08:28] keis opened #3963 "Make cached_property compatible with property"
Hey, when trying out the `cached_property' in 3.8 I get some complaints from the type checker that I believe is not intended. I'm not sure if this issue belongs here or on mypy itself because there seems to be some extra magic going on with properties. Anyway, a reduced example follows

[code]

running mypy (0.770) gives this result

[code]
I would expect LazyDuck to be a compatible type too. It's

[2020-05-03 08:33] LouisStAmour commented on #2491
So I was going to make a new issue but I’ll join in on this one. I see a lot of reinventing the wheel here. Why not copy what works for https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/README.md as much as we can?

Basically, the rule of thumb is that however you install a package, you can install an identical version of the package to get that version’s types. We should ideally auto

[2020-05-03 08:46] LouisStAmour commented on #2491
One more comment on the above, if multiple branches are maintained upstream, they introduce subfolders for older branches and again publish off master. So for example, D3 has https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/d3 with 5.7.x at the root level and subfolders for maintaining v3 and v4, currently 3.5.x and 4.13.x respectively.

Some things don’t semver, at which point

[2020-05-03 09:20] LouisStAmour commented on #2491
One last post for the night, the TS folks support external dependencies on other npm packages: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/36575 and https://github.com/microsoft/types-publisher/blob/ac63cb9006c509ef56db4363651dde48dc956944/src/lib/definition-parser.ts#L260

Normally referencing other types looks like https://github.com/DefinitelyTyped/DefinitelyTyped/blob/5344bfc8050

[2020-05-03 19:57] aannaassalam commented on #3946
Can you please elaborate your problem that you are facing...

[2020-05-04 05:56] LouisStAmour commented on #2491
I've also detailed some of my thoughts on what Python could learn from TypeScript at https://gitter.im/python/typing?at=5eafad1a22f9c45c2a6a6e97

[2020-05-04 18:16] JukkaL commented on #2491
@LouisStAmour Learning from DefinitelyTyped is a good idea, and the current proposal already heavily borrows from the way the TS community does things. Thanks for the links!

I'd like to keep the scope a bit limited initially, however. I expect that we'll continue improving our approach, but we need start somewhere first. At this point I'd like to figure what the most important things we should ag

[2020-05-04 19:32] LouisStAmour commented on #2491
Relevant to the above on what syntax to support for type checkers, I’ve left a comment or two at https://github.com/python/typed_ast/issues/118#issuecomment-623614230

The reason I focus on CODEOWNERS and maintenance is that the existing approach requires too much owner-approval and doesn’t have enough community involvement.

Any real world project is going to end up maintaining some number of typ

[2020-05-04 21:01] jakebailey commented on #2491
This is the sort of thing that I think greatly distinguishes the dynamic between TypeScript and JavaScript from "typed Python" and Python. The former exists because JS didn't have the syntax or features to enable type checking; entirely new languages were created which transpiled back to JS.

But Python is in a different place, having both a type syntax which can exist in "real" Python code and th

[2020-05-04 21:48] ethanhs commented on #2491
@LouisStAmour @jakebailey thank you for your thoughts on these matters! I think "typed Python vs Python with typing" is a bit out of scope of this proposal, as that is a fundamental change to how we approach typing in Python. I think discussion about that is probably best targeted to typing-sig@python.org.

Fair point! For mypy, we thought about something like this, but we decided the general case

[2020-05-05 00:24] LouisStAmour commented on #2491
True, the context in which it came up is more relevant to this other ongoing discussion of adopting Python 3.8 syntax in Typeshed:

https://github.com/python/typed_ast/issues/118

That is absolutely the case, however! https://github.com/babel/babel/blob/master/packages/babel-plugin-transform-typescript/src/index.js is all the evidence I have, but if you search it for `remove()` you'll see it's mos

[2020-05-05 01:02] ethanhs commented on #3946
@aannaassalam the string specifier for the constructor decides whether the type of the elements are int, float or str (I'm not certain about the str). Ideally the type would be selected based on the argument

[2020-05-05 01:18] jakebailey commented on #2491
@LouisStAmour

I am aware of all of these details, but fundamentally that isn't what I meant; I can literally take any working annotated Python code, delete its annotations by hand, and it will run just fine. No babel or tsc to desugar things (`??`, `?.`, etc), no magic `///` comments, etc. It's just Python. I don't really want to clutter this issue with unrelated stuff, so forgive me if I don't t

[2020-05-05 01:27] LouisStAmour commented on #2491
See also https://sorbet.org/ which has an LSP integrated and will be shipped as part of Ruby 3 (in some fashion...) and https://github.com/sorbet/sorbet-typed their version of a type repository with built-in lookup system. The lookup system is integrated using a command line tool which internally uses git: https://github.com/sorbet/sorbet/blob/047d672e2a49f6a331541d65b7a3466fd324d2eb/gems/sorbet/l

[2020-05-05 01:42] LouisStAmour commented on #2491
Quick aside: `??` and `?.` are ECMAScript language features that have shipped in Chrome/Edge by now. `//` is a comment syntax, so is `///`. ECMAScript language features are only allowed in TS if you enable the libraries/definitions to support them. They are only "transpiled" out to vanilla JS if a different previous version of JS is chosen as output. And your Python will only run in the version of

[2020-05-05 18:25] #3949 closed

[2020-05-06 06:41] hauntsaninja opened #3968 "Fix various inheritances"
I had a patch to stubtest that added checking of base classes. Unfortunately, it was too noisy to consider merging, although some fixes did come out of it.
I complicated the patch today, and most of the following look actionable. Figured I'd jot the output down here, so it doesn't get forgotten about, since I'm not sure I want to merge this newly complicated patch (branch at https://github.com/hau

[2020-05-06 11:04] srittau commented on #3968
Would it make sense to add an option to disable these checks, so we could disable them in CI for now?

[2020-05-12 18:16] jnsnow opened #3977 "socket.makefile assumes wrong overloaded form"
Hello, I'm not sure if this is a typeshed issue or a mypy issue. I don't know how to diagnose the difference. I am leaning on the idea that it is a typeshed issue. (I also don't know how to tell which version of typeshed mypy is using, but I am using mypy 0.770 as installed from pip3 in a virtual environment.)

In QEMU, we have some code like this:
[code]

It's my understanding that this will crea

[2020-05-12 18:27] hauntsaninja commented on #3977
Thanks for reporting! Looks like this is a bug in typeshed. I've attached a PR; the issue is that the overload with the default value for mode should have been the one that returned TextIO, since the default mode is "r".

[2020-05-13 01:22] #3977 closed

[2020-05-13 13:37] mr-c commented on #3902
This is quite needed for `mypyc` users. Can this issue be re-opened?

[2020-05-13 14:12] srittau commented on #3902
Reopening. I believe we should strive towards correctness here and we can ensure this at least somewhat using overloads and literals.

[2020-05-13 15:25] sinback opened #3983 "issubclass does not support comparison against typing.Generic"
Here's some code that works:

[code]
(prints True, which is correct I think - Generic is in the mro and Test should be a subclass of it, tuple, and object).

but mypy doesn't like this:

[code]

which I think is wrong.

It's extra interesting/confusing to me because `type(Generic)` is `type`, not `typing._SpecialForm` :astonished: :question:

[2020-05-13 15:29] selimb opened #3984 "`Popen.poll` return annotation should be `Optional[int]`"
https://github.com/python/typeshed/blob/2ead8123a6c2b485b163ca48a962c9f3a7d52708/stdlib/3/subprocess.pyi#L1158

whereas the [subprocess docs](https://docs.python.org/3/library/subprocess.html#subprocess.Popen.poll) say:

Example of where this raises a false positive:

[code]

[code]

whereas the program's output is:
[code]

I'd be happy to submit a PR!

[2020-05-13 15:35] srittau commented on #3984
PRs are always welcome!

[2020-05-13 17:18] #3984 closed

[2020-05-13 19:16] dosisod commented on #3850
Closed by #3889.

[2020-05-13 19:16] #3850 closed

[2020-05-13 19:35] JelleZijlstra commented on #3983
Special forms like `Generic` are pretty magical and the stubs don't necessarily reflect the runtime structure very much. We could maybe make the `_SpecialForm` in typeshed inherit from `type`.

Maybe you should use https://github.com/ilevkivskyi/typing_inspect though? That's generally the more portable way to perform runtime inspection of typing-related stuff.

[2020-05-13 23:59] sinback commented on #3983
Ooh, thanks for the pointer! Looks like this library has all kinds of stuff in it which would have prevented me from having to learn typing library internals had I... known about the library in the first place 😅 I appreciate the suggestion!

I think it makes sense for `_SpecialForm` to inherit from `type`, but take my opinion with a grain of salt because I'm not overly familiar with how the typing

[2020-05-14 01:31] hauntsaninja commented on #3902
An ideal solution for mypy users here is a plugin (https://github.com/python/mypy/pull/7803).

The no argument case and the `Literal[0]` case should return `str`; this should be uncontroversial. The multiple argument case should return a tuple of whatever we decide the single argument case should return.

However everything else, which comprises most of the usage of `group`, can potentially return

[2020-05-14 05:07] dbarnett opened #3991 "Define stubs for pytypes"
Could typeshed include stubs for the [pytypes library](https://pypi.org/project/pytypes/)?

Currently if I enable runtime checking with decorators like `@pytypes.typechecked` I ironically lose static type information for the code and all the types come out to `Any`.

[2020-05-14 06:02] JelleZijlstra commented on #3991
We definitely could! It might be even better though if the library itself bundled stubs or inline type information.

[2020-05-14 13:02] serhiy-storchaka commented on #3049
For the following code
[code]
I get the error:
[code]
MyPy understand that `sys.stdout` is a `TextIOWrapper` instance.

[2020-05-14 13:16] serhiy-storchaka opened #3993 "The result of TextIOWrapper.detach() should be IO[bytes]"
For the following example:
[code]
I get the following error:
[code]
Should not `TextIOWrapper.detach()` return `IO[bytes]` instead of `IOBase`?

Replacing `sys.stdout.detach()` with `sys.stdout.buffer` fixes the complains.

[2020-05-14 13:28] serhiy-storchaka commented on #3049
What is worse -- I cannot silence the error by adding `# type: ignore`, because on Python 3.6 I get `error: unused 'type: ignore' comment`.

[2020-05-14 14:56] grantwwu commented on #3049
I haven't touched MyPy in many months but your platform check might be too complex for https://mypy.readthedocs.io/en/stable/common_issues.html#python-version-and-system-platform-checks to understand. Try splitting it into two `if`s?

[2020-05-14 15:48] dbarnett commented on #3991
Isn't that blocked on [PEP 0561](https://www.python.org/dev/peps/pep-0561/) though?

[2020-05-14 15:56] JelleZijlstra commented on #3991
PEP 561 was accepted years ago.

[2020-05-14 16:12] srittau commented on #3993
IO types predate protocols and are a mess. `detach()` should ideally return whatever it returns in the implementation (I assume this is the first argument passed to its constructor?) and `TextIOWrapper` should ideally expect a custom protocol and things should work. That said, your suggestion would most likely work fine for now. PR welcome!

[2020-05-14 16:19] srittau commented on #3049
FWIW, I just checked the following with mypy 0.770 using `--warn-unused-ignores` under both Python 3.6.9 and 3.7.4 and it works or me:

[code]

That said, we'll gladly accept a PR that adds `TextIOWrapper.reconfigure()` :)

[2020-05-15 05:29] deveshks opened #3997 ""csv.writer.write" does not work for objects expecting something other than "str" in their "write" method"
This was originally found when upgrading [pip](https://github.com/pypa/pip/) to `mypy 0.770` in https://github.com/pypa/pip/pull/8235

There was a change made to `_csv.pyi` in https://github.com/python/typeshed/pull/3581 which hardcodes the input type of `_Writer.write` to `str`

https://github.com/python/typeshed/blob/6dca3f7fc52e84e3c6b512bb4a6d462778d6a692/stdlib/2and3/_csv.pyi#L44-L45

If I un

[2020-05-15 08:52] wereii opened #3998 "[distutils.log] Enforced variadic parameter in log func calls"
**Description**
The second param of the logging calls (`log.info`, `log.debug`, ...) is a variadic argument `*args`, real signature looks something like:

[code]

but the type hint is defined as
`_LogFunc = Callable[[Text, Iterable[Any]], None]`
(then ... `info: _LogFunc`)

which enforces the second argument and throws an error `error: Too few arguments` if only the first param is saturated.
Appli

[2020-05-15 09:39] jamesba opened #3999 "asyncio.events run_in_executor has incorrect return type annotation"
The following line in asyncio/events.pyi:

[code]

Does not match the actual observed behaviour of this method at runtime:

[code]

Suggest that the type annotation should instead be:

[code]

[2020-05-15 09:55] #3946 closed

[2020-05-15 09:59] wereii commented on #3998
I am can't really say I understand the *.pyi format so please take this with a grain of salt as I might be very much wrong.

Fix proposal
[code]

[2020-05-15 10:10] srittau commented on #3997
@deveshks You will notice that your example will fail as soon as you try to actually use the writer you just created:

[code]

While using `io.StringIO()` works. I have used the `csv` module only casually though, so I might be misunderstanding how it's supposed to work.

[2020-05-15 10:16] srittau commented on #3999
Makes sense. PR welcome! There is also this comment in `base_events.pyi`:

https://github.com/python/typeshed/blob/e5dcf06c9e68969fc28fb0a869e281f15cf4a1dd/stdlib/3/asyncio/base_events.pyi#L75-L78

We should remove the comment and the corresponding `# type: ignore` as well.

[2020-05-15 10:22] srittau commented on #3998
Good catch. Unfortunately your solution won't work in stubs. The good news is that nowadays we can use a callable protocol to solve this, though:

[code]

[2020-05-15 19:46] hauntsaninja commented on #3999
Note your `loop` isn't an `AbstractEventLoop`, it's a `BaseEventLoop` which has the correct signature as Sebastian mentions. This was fixed in https://github.com/python/typeshed/pull/3935, which chose not to make the change for `AbstractEventLoop` to remain true to CPython's implementation (https://github.com/python/cpython/blob/master/Lib/asyncio/events.py#L286). Since this change was pretty rece

[2020-05-15 20:11] srittau commented on #3999
I could have sworn that I checked `AbstractEventLoop.run_in_executor()` not to be an async function in the implementation. I think there is not much we can do in that case. `asyncio.get_event_loop()` is not guaranteed to return a loop implementation that returns a `Future` from `run_in_executor()`. The return value of `get_event_loop()` can be cast to the concrete loop implementation, which should

[2020-05-16 01:32] JelleZijlstra commented on #3997
Indeed the C code for csv always calls `write()` with a str argument: https://github.com/python/cpython/blob/6b6092f533f0e4787b8564c4fad6ec6d1018af0d/Modules/_csv.c#L1244

[2020-05-16 12:58] mgedmin opened #4005 "mypy can't decide if ast.Str.s is a string or not, depending on Python 3.7 vs 3.8"
* This is a bug (I think)

[code]

When I run mypy --strict on this file on Python 3.8, I get

[code]

When I run mypy --strict on this file on Python 3.6 or 3.7, I get no errors.

If I wrap the return value in a `typing.cast(typing.Str, node.func.value.s)`, mypy on 3.8 becomes happy, but mypy on 3.6 or 3.7 complains about redundant cast to "str".

* What is the behavior/output you expect?

I expe

[2020-05-18 08:01] jamesba commented on #3999
It seems like maybe the CPython implementation of AbstractEventLoop is a mistake on their part in that case then. I don't think it makes much sense for `run_in_executor` to be a coroutine function, since by its very nature it creates something that runs in another thread independently rather than something that needs to be awaited to make it execute.

[2020-05-18 08:19] serhiy-storchaka commented on #3049
It is the same if split on two `if`s.

[2020-05-18 11:14] zdog234 opened #4037 "shutil.make_archive first argument: _AnyStr vs. _Path/ (_AnyPath)"
Hi, running mypy over this in python 3.8:

[code]

This code runs fine, but mypy throws an error related to the first argument. When I [pull up typeshed](https://github.com/python/typeshed/blob/master/stdlib/2and3/shutil.pyi#L133), it seems like the first argument has been annotated as `_AnyStr`. This should probably be changed to `_Path` (at least for 3.8, I haven't checked 3.6/3.7 yet)

[2020-05-18 15:24] JelleZijlstra commented on #3999
@jamesba I think you're right; sounds like we should report a bug to CPython.

[2020-05-18 15:30] JelleZijlstra commented on #4037
PR welcome!

[2020-05-18 15:37] zdog234 commented on #4037
Sweet! I wanted to post an issue first to make sure I wasn't missing something. I'll try to draft a PR soon to make this change (and test in 3.6/3.7 to make sure this isn't 3.8-specific)

[2020-05-18 17:41] mrkeuz opened #4039 "# type: ignore import not working for python-pytun"
Follow instructions as described on section https://mypy.readthedocs.io/en/latest/running_mypy.html#missing-imports

```# type: ignore``` not working

seems lib have only pure c bindings (see: https://github.com/montag451/pytun)

helped only global --ignore-missing-imports flag.

## Environment
$: dmypy run -- --follow-imports=skip .
mypy 0.770
Python 3.6.9 (default, Apr 18 2020, 01:56:04)
[GCC 8.

[2020-05-18 17:53] JelleZijlstra commented on #4039
Your screenshot is very blurry so it's hard to see what's going on. In any case, this is an issue with mypy, not typeshed.

[2020-05-18 17:55] mrkeuz commented on #4039
Thanks!

[2020-05-18 17:55] #4039 closed

[2020-05-19 14:47] MightyJosip opened #4042 "Stubs for third_party library pygame"
Hello. Recently I have been doing type hints for the library called pygame (it can be seen here: https://github.com/pygame/pygame/tree/master/buildconfig/pygame-stubs). It is working pretty well, it covers every function/object described in docs (but it is missing 2 sub-modules that are not present in pygame2 and some functionality that is not covered in docs, but basically 99% code that is used h

[2020-05-19 16:02] #3049 closed

[2020-05-19 16:43] #3993 closed

[2020-05-19 19:30] #4042 closed

[2020-05-19 19:38] posita opened #4043 "operator.getitem(Sequence, slice) presents error"
When I try something like …

[code]

… I get the following …

[code]

Shouldn't this work? I couldn't find a matching issue, but I might have missed it.

[2020-05-19 20:14] hauntsaninja commented on #4043
Yeah, this should work. PR welcome!

I had a concern over whether this should work for Sequence in general, or only concrete types like list and tuple, but https://docs.python.org/3/reference/datamodel.html#object.__getitem__ states that on sequence types `__getitem__` should accept int and slice. So we should change the `operator` stub to reflect that.

[2020-05-20 14:14] lhfriedman opened #4047 "Stub missing for multiprocessing.sharedctypes"
`
from multiprocessing.sharedctypes import Synchronized
`

when mypy'ed produces this error:

    from multiprocessing.sharedctypes import Synchronized

[2020-05-20 18:06] willmcgugan opened #4051 "Should Mypy warn about potential invalid arguments to `max`?"
I was surprised that Mypy didn't flag an issue where I was calling `max` with an int and a None, which throws a TypeError at runtime.

For example, in the following code, should I not expect Mypy to warn that `top` is potentially None, which wouldn't work with `max` ?

[code]

[2020-05-20 18:31] markuspi opened #4050 "Inconsistency between ** and pow() with custom __pow__ implementations"
When `__pow__` is overloaded in a custom class, the type checker is working as expected when using `**`, but generates a warning when using `pow()`.

POC:
[code]
Output:
[code]
Both a and b should be of the same type

[2020-05-20 20:06] hauntsaninja commented on #4037
https://github.com/python/typeshed/pull/4041#issuecomment-630529941

[2020-05-20 20:41] #4037 closed

[2020-05-21 01:39] JelleZijlstra commented on #4050
The implementation of `pow()` in https://github.com/python/typeshed/blob/master/stdlib/2and3/builtins.pyi#L1373 should be changed to accept a Protocol with `__pow__`. PRs are welcome!

[2020-05-21 02:01] JelleZijlstra commented on #4047
Contributions are welcome!

[2020-05-21 08:33] deveshks commented on #3997
So given the facts that the mypy type checking not working is due to the code example which doesn't work as well, I will go ahead and close this issue

[2020-05-21 08:33] #3997 closed

[2020-05-21 13:45] lhfriedman commented on #4047
Hi, I am pretty new to github. I think this is something I can get started. Not sure how this meshes with government publication approval, but it’s probably OK. How does one do this?

Cheers,
Lawrence

From: Jelle Zijlstra <notifications@github.com>
Sent: Wednesday, May 20, 2020 10:02 PM
To: python/typeshed <typeshed@noreply.github.com>
Cc: Friedman, Lawrence Henry (Fed) <lawrence.friedman@nist.go

[2020-05-21 21:14] dcreemer opened #4054 "Unicode keys in Python 2 regex captures are typed as 'str'"
In Python 2.7.17, Match object `groupdict()`-returned dictionaries assume `str` keys. These keys can also be `unicode`. Here's a trivial test case that runs correctly on Py2 and Py3, but fails `mypy --py2` checking:

sample.py:
[code]

and:

[code]

[2020-05-22 05:10] McSinyx opened #4055 "multiprocessing.Pool under Python 2 is not a context manager"
Hi!  I'm not sure about the status of Python 2 support, but currently in `stdlib/2/multiprocessing/pool.pyi` `Pool` is annotated as `ContextManager[Pool]`.  Thank you all for maintaining this BTW!

[2020-05-22 19:25] ramalho opened #4057 "`statistics.mode` handles hashables, not just numbers as currently annotated"
The documentation for [`statistics.mode`](https://docs.python.org/3/library/statistics.html#statistics.mode) says "Return the single most common data point from discrete or nominal data." and includes this example:

[code]
The [implementation](https://github.com/python/cpython/blob/822efa5695b5ba6c2316c1400e4e9ec2546f7ea5/Lib/statistics.py#L534) uses `collections.Counter` so the signature for `mod

[2020-05-22 21:52] hauntsaninja commented on #4047
A good resource is typeshed's CONTRIBUTING.md (https://github.com/python/typeshed/blob/master/CONTRIBUTING.md). The section https://github.com/python/typeshed/blob/master/CONTRIBUTING.md#submitting-changes links to some resources that are a little bit more specific about the Github pull request workflow. Feel free to ask questions here if you run into trouble :-)

[2020-05-23 04:29] deveshks opened #4058 ""configparser.Error" has no attribute message in Python 3"
The following works in mypy ran with Python2 but not with mypy ran with Python 3, where it throws a `error: "Error" has no attribute "message"`.

[code]

I also find that `Error` type has an attribute `message` in Python 2.

https://github.com/python/typeshed/blob/e1e99245bb46223928eba68d4fc74962240ba5b4/stdlib/2/ConfigParser.pyi#L6-L12

but not in Python 3

https://github.com/python/typeshed/blob

[2020-05-23 05:06] JelleZijlstra commented on #4057
That seems right. Please send a PR!

[2020-05-23 13:44] markuspi commented on #4050
What would be the best signature for such a protocol?
I came up with the following, thinking that it would support the 2- and 3-arguments variants of pow.
But in reality, this protocol will only accept `def __pow__(self, a, b c=...)`, so my original POC in the issue would still get rejected :/
[code]

[2020-05-23 17:11] JelleZijlstra commented on #4055
Python 2 is still supported in typeshed, so a PR improving this would be welcome.

[2020-05-23 20:11] #4055 closed

[2020-05-25 03:25] tarcisioe opened #4075 "BytesIO should inherit BufferedIOBase"
I noticed this because `mypy` isn't letting me pass `BytesIO` to a dataclass field typed `BufferedIOBase`. There is a TODO here: https://github.com/python/typeshed/blob/00a27634b1f70943ed95ea2817f26cd16161fdef/stdlib/3/io.pyi#L80, but I didn't find an issue with the rationale for it not to inherit as of now.

I can make a Pull Request if introducing the inheritance (and removing redundant attribut

[2020-05-25 03:41] JelleZijlstra commented on #4075
Changes to the IO class hierarchy tend to be tricky, because the IO protocols are inconsistent and there are sometimes incompatible method overrides. In this case, `BytesIO` already inherits from `BinaryIO`, so there's a risk that making it also inherit from `BufferedIOBase` will cause trouble.

[2020-05-25 04:53] tarcisioe commented on #4075
I see. I find it fairly unexpected that `mypy` ends up with an error that directly contradicts the definition of `BytesIO` in the standard library, and its documentation as well (the documentation explicitly says that it inherits `BufferedIOBase`. But I see how this definition can be fairly tricky, especially after reading some other issues here.

I ended up depending on `BinaryIO` where I could,

[2020-05-25 05:15] JelleZijlstra commented on #4075
Just to be clear I don't know for sure what will happen if we make BytesIO inherit from BufferedIOBase; feel free to submit a PR and see what Travis has to say. I just wanted to give some explanation for why this might turn out to be tricky. I do agree that this should be fixed.

[2020-05-25 15:28] septatrix opened #4076 "Make argument of logging.disable() optional"
This was changed in Python 3.7 to be optional and defaults to `logging.CRITICAL`

https://docs.python.org/3/library/logging.html#logging.disable
https://bugs.python.org/issue28524
https://github.com/python/typeshed/blob/6028226750af927e1d728788480c15335d67c26b/stdlib/2and3/logging/__init__.pyi#L470

[2020-05-25 17:22] srittau commented on #4076
PR welcome!

[2020-05-25 20:12] hauntsaninja commented on #4076
The parameter name should also be changed to `level`, in case someone wants to pass it in via keyword.

[2020-05-26 03:55] ramalho commented on #4051
Hello, today I sketched a solution for this. I wrote my own clone of `max()` in Python to be able to test it and run Mypy experiments. This is what I got: do you think I am on the right track? What am I missing? (I'll rename the protocol and type vars with leading _ before I merge into builtins.pyi for a PR)

https://gist.github.com/ramalho/1ed164b65ec8c36716ca9c90780890b8

[2020-05-26 04:48] #4057 closed

[2020-05-26 04:50] JelleZijlstra commented on #4051
@ramalho That looks about right! A couple of the overloads (1 and 2 for example) can be merged by putting `key: None = ...`.

[2020-05-26 10:18] srittau commented on #4050
@markuspi A few notes:

* Using overload is not necessary, you can just use a default argument.
* The argument names should start with two leading underscores to mark them as positional-only.
* `@abstractmethod` is not required in protocols.
* `runtime_checkable` makes no sense in type stubs.
* Since `SupportsPow` is a stub-only class (it doesn't exist in `typing.py), we should just add it to `bui

[2020-05-26 11:48] lhfriedman commented on #4047
OK. I am going to start on this.

[2020-05-26 15:03] jamesba commented on #3999
@JelleZijlstra agreed. Shall I report it?

[2020-05-26 15:28] JelleZijlstra commented on #3999
Please do.

[2020-05-26 15:49] jamesba commented on #3999
https://bugs.python.org/issue40782

[2020-05-26 16:56] Solumin opened #4085 "urllib.response classes are missing arguments to __init__"
Source file: https://github.com/python/cpython/blob/3.8/Lib/urllib/response.py
Pyi file: https://github.com/python/typeshed/blob/6a92ae6295dbc4517abc375830d123c65f1b2cc4/stdlib/3/urllib/response.pyi

response.pyi is missing `__init__` type stubs for `addbase`, `addinfo` and `addinfourl`, and `addclosehook` is missing entirely. The missing `__init__` stub causes incorrect type errors, e.g. `urllib.

[2020-05-26 17:40] ramalho commented on #4051
Thanks, @JelleZijlstra!

You are right, I was able to merge 3 overloads, now down to 6: https://gist.github.com/ramalho/1ed164b65ec8c36716ca9c90780890b8

It occurred to me that the `Comparable` protocol can also be used for `sorted()`, and that would be a smaller PR.

So my plan is to send a PR for the `sorted` type hints, which will include defining `Comparable` and a `TypeVar` bounded by it. Aft

[2020-05-26 17:54] JelleZijlstra commented on #4051
Thanks! No need to file an issue.

I feel like there's some chance narrowing the types of `sorted()` and `max()` will lead to false positives, just because of how common these are (maybe some types that should define `__lt__` are missing it in stubs?). Once you submit a PR, I'll test it on our codebase to see if anything like that comes up.

[2020-05-26 18:28] hauntsaninja commented on #4050
One way of getting your original case to type check, even if it doesn't support the modulo argument of `__pow__`, is to use two protocols for the two overloads of `pow`.

[2020-05-26 18:32] hauntsaninja commented on #4085
Yup, that looks correct to me. PR welcome!

[code]

[2020-05-27 10:09] JukkaL commented on #2491
Since the discussion seems to have died down, and nobody seemed to anything significant against the proposal, I and @ilevkivskyi will plan to start working on the implementation soon.

There will be a big switch at some point when we change to the new typeshed directory structure. One of us will write a comment here in advance to announce when we are almost ready for the switch, and we'll show wha

[2020-05-27 11:42] jstasiak commented on #2491
Is https://github.com/python/typeshed/issues/2491#issuecomment-611607557 the current summary of the proposal?

[2020-05-27 11:59] srittau commented on #2491
@JukkaL We should try to close as many PRs as possible before the switch, otherwise they will all fail to apply. Maybe we can also combine this with the black reformatting, which has the same problem (#3058).

[2020-05-27 14:35] JelleZijlstra commented on #2491
@JukkaL exciting that this is getting done now!

I can go over all open PRs tonight and hopefully either merge them or get them into a mergeable state myself. Once we have no or few open PRs we can apply Black and get a clean slate for the big refactor.

[2020-05-27 15:30] srittau commented on #2491
I went through a few PRs and closed them. I also updated #3329 so it merges cleanly. It will need a final merge after the big reformat, though.

[2020-05-27 16:05] JukkaL commented on #2491
@jstasiak Yeah, though a few things I have changed during the discussion:

* The stub package name will be `types-<foo>` for a package that was installed as `pip install foo`.
* The version schema for a stub package will be `x.y.z`, where `x.y` is the upstream version, and `z` is the stub version, starting from 0. (`z` is reset to 0 when the upstream version is increased.)

@srittau A good point.

[2020-05-27 17:49] zackw opened #4108 "`assert isinstance(fileobj, typing.TextIO)` fails at runtime"
Suppose a wrapper function around `open` declared like so:

[code]

mypy naturally does not know that `open_wrapper("foo.txt", "wt")` will return a TextIO, so I need to provide a hint when passing that object to a function that accepts a TextIO:

[code]

This type-checks, but the assertion fails when the program is run, because the actual object returned by `open` in this case is an `_io.TextIOWra

[2020-05-27 18:12] jstasiak commented on #2491
Ok, got it. Apologies for a late comment, I've been following the discussion but got overwhelmed by the amount of text at some point and never got back to it (till now). I have two questions:

1.

Has this been addressed/answered somewhere? I just looked for an answer but failed to find any.

2. Do your 2/5 year expectations include more packages either becoming typed themselves or including type

[2020-05-27 18:23] markuspi commented on #4050
Thanks for your feedback! I opened PR #4109 with your suggested changes. I would love to hear your thoughts about it

[2020-05-27 18:48] srittau commented on #4108
This is due to the problematic typing of IO classes in Python, predating protocols. (See numerous other issues here.) `TextIO` can't be checked at runtime, this is not something that can be solved in typeshed.

My personal recommendation is not to use the IO classes, but use custom protocols for argument types. We also gladly accept PRs in typeshed that change IO arguments to protocols. If that do

[2020-05-27 18:48] #4108 closed

[2020-05-27 22:21] bwelling opened #4116 "socket.create_connection source_address should be optional"
[code]
The `source_address` field should be marked as `Optional`, as it defaults to `None`.

[2020-05-28 04:25] JelleZijlstra commented on #3951
I feel like the right solution is to make the `open()` stubs reflect the types that `open()` actually returns, which are various classes in `io`:
[code]
This would require making these classes inherit from `TextIO` or `BinaryIO`, which they currently don't do.

I can look into this after #3371 and #4082 (which touch some of the same code) are merged.

[2020-05-28 07:54] vegarsti commented on #3951
Agreed, that sounds like a much better solution! Let me know if I can be of help!

[2020-05-28 11:05] srittau opened #4131 "typeshed types module"
This came up before. I suggest to add a typeshed-only module what contains type aliases and protocols useful for the stdlib, but not part of typing.py. We already have a `wsgiref.types` module with such functionality and #3371 will add `io._OpenBinaryMode` and `io._OpenTextMode`. Another common type we need are I/O protocols.

Such a module could also act as a staging and testing area for types th

[2020-05-28 11:25] srittau commented on #4131
Another example is `_FormatMapMapping` from #3824 and a general "mapping" protocol (see also #3576).

[2020-05-28 11:27] #3824 closed

[2020-05-28 11:48] #4085 closed

[2020-05-28 12:02] srittau commented on #4116
Indeed. PR welcome!

[2020-05-28 13:12] martinlombana commented on #3637
Hi!

I am wondering the same thing, as I am not getting code completion with Pycharm. How do we install the stubs for wxpython?

Thanks,

[2020-05-28 13:18] #3448 closed

[2020-05-28 16:20] #2911 closed

[2020-05-28 17:20] JukkaL commented on #4131
This sounds like a useful thing to have. What about adding an underscore prefix to make it clear that this is an internal module?

[2020-05-28 17:21] srittau commented on #3728
@hauntsaninja Currently stubtest fails if a whitelist entry has become obsolete due to a PR. I think this is a bit problematic, since its easily missed when providing an easy fix, and makes it a bit harder to contribute them. Do you think something like the following would make sense?

* Don't fail CI if there are extraneous entries on the whitelist.
* Run a GitHub Action daily (or maybe just week

[2020-05-28 17:22] srittau commented on #4131
An underscore makes sense.

[2020-05-28 17:56] #4116 closed

[2020-05-28 18:27] hauntsaninja commented on #3728
Yeah, that makes sense! stubtest already supports `--ignore-unused-whitelist`, so should be pretty doable.

[2020-05-28 19:22] hauntsaninja commented on #4058
This looks right, PR welcome! configparser.Error's `__init__` can also be improved.

[2020-05-28 19:28] deveshks commented on #4058
Sorry, I don't have much knowledge of `typeshed` in order to contribute a PR.

It would be helpful if you could provide some pointers to start/places to look for to make these changes, and I will look into applying them.

[2020-05-28 19:37] hauntsaninja commented on #4058
https://github.com/python/typeshed/blob/master/CONTRIBUTING.md has a lot of useful information about contributing. You'll want to make the change in https://github.com/python/typeshed/blob/master/stdlib/3/configparser.pyi. Let me know if you run into issues / have more questions!

[2020-05-28 20:50] srittau commented on #3728
I will see whether I can try something out over the weekend.

[2020-05-28 21:36] CraftSpider commented on #3954
With the new windows Travis builds:
- [ ] Add win32-py39 whitelist / fix windows inconsistencies
- [ ] Setup windows build with 3.9 version

[2020-05-29 00:01] CraftSpider commented on #1019
@JelleZijlstra Mind if I update your checklist to match all the stub file now in typeshed? All the non-private modules have been completed

[2020-05-29 00:02] JelleZijlstra commented on #1019
Yes, feel free to edit the message (I think you should have permission to do that now?).

[2020-05-29 00:27] #4075 closed

[2020-05-29 04:11] ramalho commented on #4131
I don't understand why it should be an internal module. If the types are only for use in typeshed, that weakens @srittau's idea in python/typing#728: "then possibly transferring them to typing if they prove to be used". The community would benefit more from these types if they were not limited for use inside typeshed, and it would be easier to ascertain which should graduate to the standard librar

[2020-05-29 08:14] srittau commented on #4131
The types can be used outside typeshed, but we give no API guarantees, and due to the nature of typeshed, it won't be available at runtime. I think marking it with an underscore to point out that special nature makes sense.

[2020-05-29 09:26] JukkaL commented on #4131
Having the types only live in typeshed simplifies workflows, as we can add a new type without having to release a package on PyPI. If the types were public, we'd need to think much more carefully about which types are worth adding, how they should be named, etc. We would effectively be blocked from making backwards incompatible changes, as third-party code might depend on the types.

Since protoco

[2020-05-29 11:10] JukkaL commented on #2491
I don't think that there's anything we can do right now to prevent this, but we can make our approach resilient to this. Here's an idea about what we could do if this becomes a problem:

* Use an alternative prefix if the main prefix is used (e.g., `types-ts-<foo>`).
* Provide a service (outside PyPI) that maps a distribution or a package name to the relevant stub package. So if a user wants the s

[2020-05-29 21:26] CraftSpider commented on #3139
Closing, as this was fixed in #4052

[2020-05-30 01:58] JelleZijlstra commented on #3951
Here's what `open()` returns:
- If text mode, always `TextIOWrapper`
- If unbuffered, `FileIO`. This appears to map directly to the `buffering=` keyword argument to `open()` but the logic is fairly complicated.
- Else `BufferedReader`, `BufferedWriter` or `BufferedRandom` depending on mode.
The code is at https://github.com/python/cpython/blob/master/Modules/_io/_iomodule.c#L231.

[2020-05-30 10:21] sbidoul commented on #4058
Since the `message` attribute does not seem to be documented, maybe is correct to not give it a type?

[2020-05-30 22:26] hauntsaninja commented on #4058
Typeshed is pretty pragmatic about things; if something is used in practice, it's a good idea to type it. Refer to https://github.com/python/typeshed/blob/master/CONTRIBUTING.md#what-to-include.

[2020-05-30 22:38] #4050 closed

[2020-05-30 23:21] markuspi commented on #2483
Looks like this was fixed by #3272

[2020-05-30 23:23] #2483 closed

[2020-05-30 23:30] markuspi commented on #3459
Looks like this was fixed by #3546

[2020-05-30 23:45] #3459 closed

[2020-05-31 03:28] #2882 closed

[2020-05-31 22:00] ramalho commented on #4051
I am working on this. Instead of `Comparable` I think a `SupportsLessThan` is precise, explicit, and follows the naming convention of several `SupportsXyz` protocols already defined in `typing`.

[code]

First PR will touch `str.list()` and `listed()`.

[2020-05-31 22:48] #3951 closed

[2020-06-03 13:36] sbrunner opened #4162 "StrongIO is not considered as a TextIOBase"
For the following code:
[code]
I get the error `Argument 1 to "XMLGenerator" has incompatible type "StringIO"; expected "Union[TextIOBase, RawIOBase, StreamWriter, StreamReaderWriter, _Writable, None]"prospector - mypy(error)`

But, when I run:
[code]
I get `True`

Then the `StringIO` should match with `TextIOBase` when with `Union[TextIOBase, ...]`, did I miss something?

[2020-06-03 13:52] JelleZijlstra commented on #4162
I believe this is fixed in master.

[2020-06-03 13:52] #4162 closed

[2020-06-03 14:41] sbrunner commented on #4162
OK, thanks :-)

[2020-06-03 15:28] dbertouille opened #4163 "Error checking SimpleXMLRPCServer.register_function arguments"
* Are you reporting a bug, or opening a feature request?
Bug Report

* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to a minimal repro.

[code]
* What is the actual behavior/output?

test.py:12: error: Argument "function" to "register_function" of "SimpleXMLRPCDispatcher" has incompati

[2020-06-03 15:58] JelleZijlstra commented on #4163
We have `_DispatchProtocol` defined as:
[code]
I think that means to mypy that it *must* take `*args`. If that's not how the module actually works, we should change the stub.

[2020-06-03 19:09] CraftSpider commented on #4163
As a note: the xmlrpc package was added in #3834, and previously didn't exist in typeshed. So that's what introduced the error. I meant for the protocol to accept '0 or more' arguments, I'll PR a fix.

[2020-06-03 22:18] willywu opened #4166 "DateTimeRange should allow datetime.datetime in __init__"
This library allows you to pass datetime.datetime into __init__ to create new objects (documented in https://github.com/thombashi/DateTimeRange/blob/master/docs/pages/examples/index.rst), but unfortunately the stub https://github.com/python/typeshed/commit/8e0af4e65167682589ae23b445b842f3be74d061 doesn't allow it, causing errors like:

[code]

[2020-06-03 22:20] willywu commented on #4166
Also it looks like you're allowed to pass None as the values of set_start_datetime and set_end_datetime

[2020-06-03 22:21] willywu commented on #4166
Please take a look at https://github.com/python/typeshed/pull/4167?

[2020-06-03 23:49] Hawk777 opened #4168 "Missing sys.{get,set}_asyncgen_hooks"
These functions appear to be missing from the `sys` module.

[2020-06-03 23:53] Hawk777 opened #4169 "tkinter.Misc.wait_variable takes wrong parameter type"
Typeshed thinks that `tkinter.Misc.wait_variable` takes a parameter of type `str`. It actually takes a parameter of type `tkinter.Variable` (or at least it *can*; I don’t know if `str` is also an acceptable option).

[2020-06-04 00:23] Hawk777 opened #4170 "Missing context parameter to asyncio.Handle.__init__"
Typeshed thinks `asyncio.Handle.__init__` takes parameters `(self, callback, args, loop)`. In Python 3.7 at least, the actual definition in `event.py` also takes another parameter, `context=None`.

Same problem with `TimerHandle`.

[2020-06-04 00:27] Hawk777 opened #4171 "asyncio.Handle.__init__ args parameter too strict"
`asyncio.Handle.__init__` has an `args` parameter which is defined as being of type `List[Any]`. But actually the only thing done with it is it is stashed in a member variable and then expanded into another function with `*` (iterable unpacking), so really any iterable would be acceptable there.

[2020-06-04 00:28] hauntsaninja commented on #4170
Yup, PR welcome!

[2020-06-04 00:36] Hawk777 opened #4172 "asyncio.set_event_loop_policy should take an Optional"
The documentation for `asyncio.set_event_loop_policy` says:

However, Typeshed declares it as taking a parameter of type `AbstractEventLoopPolicy`. It ought to be `Optional[AbstractEventLoopPolicy]`.

[2020-06-04 11:11] srittau commented on #4171
It's also ultimately passed to `_format_args_and_kwargs`, when `repr` is called. This does:

[code]

So it needs to be a `Sequence`, but a `List` is definitely to narrow.

[2020-06-04 11:23] #4166 closed

[2020-06-04 12:06] #4131 closed

[2020-06-04 12:40] srittau opened #4174 "Protocol naming convention"
Now that we have a central stub for common types and protocols, we should think about how we name protocols in typeshed. Currently there is no common convention. Some possible conventions for a "read" protocol:

* `Readable`
* `HasRead`
* `SupportsRead`
* `IsReadable`
* `Reader`

I have no strong preferences, but I think the naming to reflect that a class is a protocol. Therefore I'd suggest we sh

[2020-06-04 17:30] ericvw opened #4176 "typing.ForwardRef stub breaks mypy --no-silence-site-packages --disallow-any-unimported"
The introduction of 66c20e6b43facca64e9ea681fd73ad0b0c9bebbe from PR https://github.com/python/typeshed/pull/3876 for Issue https://github.com/python/typeshed/issues/3867, which got introduced in `mypy==0.780` is causing backward incompatible behavior when using both `--no-silence-site-packages` and `--disallow-any-unimported` together.

I've isolated a minimal reproduction script and output below

[2020-06-04 20:30] hauntsaninja commented on #4174
Overall, I like this! Some off the cuff notes:
- What would you recommend for `_FormatMapMapping`?
- Do you have suggestions for conventions for callback protocols?
- `SupportsRound` and `SupportsAbs` aren't exactly type conversion. It would be nice if they fit in, but maybe we're just stuck with that.
- `Xable` can be awkward if there isn't a good `X`. I'm not sure that there's too much value in

[2020-06-04 21:40] srittau opened #4179 "Completion statistics"
I am just throwing this out here as an idea: It would be useful to generate per-file statistics about their completion. I.e. the number of annotated arguments, fields, and return values vs. the unannotated number. This would obviously not count `Any` annotations as unused, although `Any` annotations could possibly be counted separately as well. This could also mark files that have an `incomplete`

[2020-06-04 21:41] srittau commented on #4179
This could be a GitHub action that runs once per day on master and generates a GitHub pages webpage. Maybe it could also store historical data somewhere.

[2020-06-04 22:28] JelleZijlstra commented on #4174
I decided to look at the existing one-shot protocols in `typing` (since we're stuck with their names):
- `SupportsInt` (`__int__`)
- `SupportsFloat` (`__float__`)
- `SupportsComplex` (`__complex__`)
- `SupportsBytes` (`__bytes__`)
- `SupportsIndex` (`__index__`)
- `SupportsAbs` (`__abs__`)
- `SupportsRound` (`__round__`)
- `Reversible` (`__reversed__`)
- `Hashable` (`__hash__`)
- `Iterable` (`__it

[2020-06-04 22:57] hauntsaninja commented on #4179
I believe we can use mypy to at least report missing annotations by running with `--disallow-untyped-defs --warn-incomplete-stub` (https://github.com/python/mypy/issues/8917#issuecomment-635816984).
We can also run stubtest without `--ignore-missing-stub` to track things that are missing entirely from the stubs (although this can't work reliably for missing fields).

[2020-06-05 02:26] dgilland opened #4182 "Third-party pyVmomi stubs are incomplete which lead to many mypy violations"
With mypy 0.780, typeshed now includes third-party pyVmomi stubs. However, the pyVmomi library has a very dynamic data model with a lot of objects and attributes that can vary across vSphere/vCenter versions. This makes providing stubs for it very difficult.

The new third-party pyVmomi stubs in typeshed are incomplete, and mypy is now reporting a lot of false-positive "has no attribute" violation

[2020-06-05 02:35] JelleZijlstra commented on #4182
The stubs were added in #3921.

If possible, we should add `__getattr__` method to the appropriate classes and modules so that we don't trigger false positives. Otherwise, the best option may be to remove the stubs for now.

In the future we'll move away from typeshed's current "all or nothing" model, so that it's possible to selectively uninstall stubs that aren't helpful for users.

[2020-06-05 07:07] sbrunner commented on #4162
As I understand with this commit 3058bec873ef8b2b5630df36c4cbea0e3734dc5f :-)

[2020-06-05 16:41] domdfcoding commented on #3637
@shalesbridge would you be able to put the stubs you've made so far into a repository (a fork of typeshed itself might be even better)? That way we can see what you've done so far and help you finish them off.

I'd certainly find them very useful.

[2020-06-05 20:04] andersk commented on #2417
This problem could be solved by making `Policy` a generic type.

[code]

Unfortunately, this is another case where mypy’s insufficient support for generic defaults (python/mypy#3737) gets in the way. But we can work around that bug using overloads.

[code]

[2020-06-05 21:11] Dr-Irv opened #4186 "Using Multiprocessing.Namespace and setting attributes creates an error"
Consider this example from the python 3.7 docs at https://docs.python.org/3.7/library/multiprocessing.html#multiprocessing.managers.Namespace

[code]

`mypy` reports:
[code]

Hope someone can fix it!

[2020-06-06 14:47] #4172 closed

[2020-06-06 14:48] #4171 closed

[2020-06-06 15:04] #4176 closed

[2020-06-06 21:41] #4169 closed

[2020-06-06 22:44] #4168 closed

[2020-06-07 04:00] diogobaeder opened #4198 "Module 'functools' has no attribute 'cached_property'"
Note: if you are reporting a wrong signature of a function or a class in
the standard library, then the typeshed tracker is better suited
for this report: https://github.com/python/typeshed/issues

Please provide more information to help us understand the issue:

* Are you reporting a bug, or opening a feature request?
Reporting a bug.

* Please insert below the code you are checking with mypy,

[2020-06-07 13:33] #4170 closed

[2020-06-07 15:08] JelleZijlstra commented on #4198
This was fixed in #3439, which was released by mypy a while ago. Are you running mypy with `--python-version 3.8`? `functools.cached_property` didn't exist before 3.8.

[2020-06-07 20:09] #4076 closed

[2020-06-07 20:19] diogobaeder commented on #4198
Ah, interesting, that works! I was not specifying the minor version, why is that necessary? Does mypy imply some other minor version if I don't specify it?

[2020-06-07 20:27] hauntsaninja commented on #4198
Could you share the command you're running? mypy doesn't allow you to specify only the major version. If you don't specify, mypy will use the version of `sys.version_info`, aka whatever Python you're using to run mypy.

[2020-06-07 20:38] deveshks opened #4201 "Cannot infer type argument 1 of "shutil.copyfileobj" with mypy 0.780"
The following code used to pass mypy type check with `mypy 0.770` but doesn't work for `mypy 0.780`

[code]

**> mypy 0.770**
[code]

**> mypy 0.780**
[code]

Do let me know if this not a typeshed issue, but instead is a mypy issue.

[2020-06-07 21:04] hauntsaninja commented on #4201
The relevant shutil types haven't changed since 2018. If this is a typeshed issue, it might be related to changes in IO types (although I'm not quite sure what has made it to which mypy version).

I think this is a mypy issue, because throwing in `reveal_type(srcfp/destfp/shutil.copyfileobj)` get me the same thing across both mypy versions.

Note that your code does crash when I run it, presumably

[2020-06-07 21:06] deveshks commented on #4201
Okay, let me open it with mypy.

The code was just meant to be an example for type checking 😊 I didn't check it for correctness.

[2020-06-08 04:48] deveshks commented on #4201
Also how would I make sure that this is not the case between `mypy 0.770` released on 10th March and `mypy 0.780` released on 2nd June 2020.

[2020-06-08 09:26] srittau commented on #4201
I believe the problem is with the order of the overloads of `BinaryIO.write()`. The first overload is `bytearray`, the second is `bytes`. mypy tries to infer `bytearray` as the generic type, which causes problems. I don't see why the overloads are necessary anyway, so I will open a PR to remove them.

[2020-06-08 09:42] deveshks commented on #4201
Thanks for the quick PR. Should I go ahead and close the related issue I opened with mypy about this?

[2020-06-08 09:43] srittau commented on #4201
I think there is something weird going on with mypy, so let them analyze it.

[2020-06-08 10:00] srittau commented on #4174
Revised proposal:

* Use plain names for protocols that represent a clear concept (e.g. `Iterator`, `Container`).
* Use SupportsX for protocols that provide callable methods (e.g. `SupportsInt`, `SupportsRead`, `SupportsReadline`, `SupportsReadSeek`).
* Use HasX for protocols that have readable and/or writable attributes or getter/setter methods (e.g. `HasItems`, `HasFileno`).

[2020-06-08 20:40] #4201 closed

[2020-06-09 01:14] hauntsaninja opened #4208 "Improve unittest stubs"
stubtest finds a number of issues with the existing unittest stubs. PRs that work toward fixing these are welcome, even if they're small!

[code]

[2020-06-09 15:51] jmehnle opened #4211 "warnings.WarningMessage.__init__(message, …) and warnings.showwarning(message, …) have incompatible types"
The `message` arguments of `warnings.WarningMessage.__init__` and `warnings.showwarning` have different types: `Warning` vs. `str`. Yet, [`showwarning` passes `message` to `WarningMessage()` as-is](https://github.com/python/cpython/blob/0383be4666905f9e24ca791afda845a7686b3fe3/Lib/warnings.py#L10-L13):

[code]

[According to `warnings.warn_explicit`](https://github.com/python/cpython/blob/0383be46

[2020-06-09 19:34] #4186 closed

[2020-06-10 02:17] remram44 opened #4212 "stdlib stubs are unnecessarily strict with file-like objects"
## Problem

Currently the IO situation is less than ideal. Not only are `IO[str]`/`TextIO` and `IO[bytes]`/`BinaryIO` a bit confusing (interchangeable in most cases), but the use of `IO` through stdlib is inconsistent and doing things like passing an object with a `write()` method to `json.dump()` does not work.

This is because the `IO` object, while describing the actual objects returned by `ope

[2020-06-10 02:52] JelleZijlstra commented on #4212
We're already moving in this direction, thanks mostly to @srittau's efforts. However, our approach has been to create ad-hoc protocols for individual cases, instead of one-size-fits-all protocols like you propose. The trouble is that while in theory the file-like object concept may be "well known", in practice it is ill-defined, and there are lots of variations in exactly what methods are expected

[2020-06-10 03:00] JelleZijlstra commented on #4211
That seems right. Thanks for the report!

[2020-06-10 03:29] remram44 commented on #4212
I unfortunately experienced that first-hand with `pandas`, however:

* It is unlikely that the protocols used in the standard library vary that much (for example `shutil._Writer` and `_csv._Writer` are identical)
* We have an opportunity to give library author a sane model for what those interfaces should be. This will make it easier to go to `pandas` and tell them that their attribute-checking is

[2020-06-10 04:03] JelleZijlstra commented on #4212
Yes, such PRs would be accepted. There's no centralized tracking, but we recently (#4161) added a `_typeshed` package for internal types, so that would be a good place for IO protocols.

[2020-06-10 08:06] srittau commented on #4212
One of the goals of using ad-hoc protocols for now is to determine which protocols are needed in practice and then move those to `_typeshed`.

[2020-06-11 02:31] hauntsaninja commented on #1297
CONTRIBUTING.md  and README.md recently got some love as part of #4132 and #3727, and have seen many changes since this issue was opened. The current state seems reasonable to me, but happy to reopen if anyone sees things that can be improved.

[2020-06-11 02:31] #1297 closed

[2020-06-11 02:35] hauntsaninja commented on #1243
This issue is similar to https://github.com/python/typeshed/issues/4179. Most of the discussion here centres around stubtest (which has recently received a rewrite, see https://github.com/python/mypy/pull/8325 and others, and is now integrated into typeshed CI), so closing in favour of the newer issue.

[2020-06-11 02:35] #1243 closed

[2020-06-11 02:55] hauntsaninja commented on #4
Can we close this?

In 2020, it seems like it could be unnecessary burden (and potentially cause errors in py2 stubs by py3-minded people) to merge py2 and py3 stubs using version checks. It's a different matter if the files are identical, but a quick command makes it seem like that's not really the case, see details.

<details>

Files which have the same content hash, compare to what's enforced b

[2020-06-11 02:58] hauntsaninja commented on #1526
Note `--disallow-untyped-defs` is actually stricter than `--disallow-incomplete-defs` and should be preferred.

[2020-06-11 03:00] hauntsaninja commented on #1229
This was fixed in #4146 and others!

[2020-06-11 03:00] #1229 closed

[2020-06-11 03:10] JelleZijlstra commented on #4
I agree, this hardly seems worth it any more. Hopefully in the not-too-distant future we can drop support for Python 2 completely.

[2020-06-11 03:19] hauntsaninja commented on #4
Okay, sounds good! Closing this and the similar #1427

[2020-06-11 03:19] #4 closed

[2020-06-11 03:19] hauntsaninja commented on #1427
Closing, as discussed in #4

[2020-06-11 03:19] #1427 closed

[2020-06-11 03:21] hauntsaninja commented on #3932
Similar to #3556 and #2999

[2020-06-11 03:50] hauntsaninja commented on #3244
The type for `__init__` was fixed in #4196, but the field changes are still relevant.

[2020-06-11 05:05] #3315 closed

[2020-06-11 07:22] srittau commented on #1526
I am not sure we should enable either. I prefer to have unannotated types over using `Any`. I also prefer unannotated types over not having definitions or using "incomplete" markers. Enabling these warnings would raise the bar for contributions, with more complex libraries significantly.

[2020-06-11 07:22] hauntsaninja commented on #3224
I believe this is fixed by #3846 and others

[2020-06-11 07:22] #3224 closed

[2020-06-11 07:42] hauntsaninja commented on #1526
I agree on both points! (Although it's reasonable to aspire to turning this on as a lint for stdlib one day, since we're close to completion and hopefully the stdlib isn't changing too drastically).

My point with the above was just that `--disallow-untyped-defs` is more in line with what I want for identifying stubs that need improvement (in the stub context, it can be a surprise that `--disallow

[2020-06-11 10:24] srittau commented on #1526
Good point about stdlib.

[2020-06-11 10:58] JukkaL commented on #1526
Once we've migrated to modular typeshed, it should be easy to add support for specifying  stricness options for each distribution separately in the metadata file. This wouldn't directly help with the stdlib, since stdlib would be distributed as a single entity.

[2020-06-11 12:07] mthuurne opened #4226 "Regression in determining return type of zip() on tuples"
On the following code:
[code]
mypy 0.770 will output:
[code]
while mypy 0.780 will output:
[code]
The output from 0.770 is both more correct (since the `zip` object is not a tuple) and more useful (since the types of the elements are known).

The fix for python/mypy#8454 adds additional overloaded definitions for `zip(*...)` in typeshed, which in itself is useful. However, for some reason mypy see

[2020-06-11 21:04] hauntsaninja commented on #4198
Closing, as I believe there aren't any changes to be made on typeshed's side — but feel free to post / reopen if you're still having trouble!

[2020-06-11 21:04] #4198 closed

[2020-06-12 20:36] CraftSpider commented on #4174
I like the proposed plan. Apologies for the delay, life has been hectic.

[2020-06-13 03:31] diogobaeder commented on #4198
Hi @hauntsaninja , I tried with the argument suggested by @JelleZijlstra and it worked. It's surprising that even running it under Python 3.8 requires me to provide that argument, but IMO that's not a big issue, provided that it works I'm fine with that.

Cheers!

[2020-06-13 11:03] mthuurne commented on #4226
I don't think there is an easy solution.

Reverting would fix my use case, but people using `zip()` on heterogeneous tuples would then have to add extra annotations or casts to their code.

Tweaking overlapping rules, as @hauntsaninja proposed above, might work for small inputs, but I think any star rule will be matching too much and forcing the types to `object`. And then there is also the point

[2020-06-14 02:09] ramalho commented on #4212
@remram44 this is a great proposal. I've been teaching Python for 20+ years and "a file-like object" has always been one of the most best examples of the informal protocols that appear often in the standard library.

I think we should seek inspiration with Go, which popularized _static duck typing_ several years before PEP 544. Their philosophy is that interfaces should be narrow, often just a sin

[2020-06-14 10:36] srittau commented on #4212
Some previous discussion in Python/typing#564.

[2020-06-14 15:00] #4174 closed

[2020-06-17 06:50] nipunn1313 opened #4234 "Issue with urlencode typeshed annotation starting in mypy 0.780"
https://mypy-play.net/?mypy=0.780&python=3.8&gist=67acdcb73a9d1fef5db0780b9a51d9c9

Short repro
[code]

Passes on 0.770 fails on 0.780
[code]

[2020-06-17 07:12] summer-wu opened #4235 "Why it is called typeshed?"
I'm not a native english speaker, so i want to know why this project is called typeshed? Accurately, the word "shed" is hard to understand for me. From my own experience, I never seen who had used this word.

From a english dictionary, 'shed' means 'a small buiding used for storing things'.It seems that shed is similar to house,container.

So typeshed is literally means a container of types. Am I

[2020-06-17 07:45] hauntsaninja commented on #4234
There don't look to have been any relevant typeshed changes. git bisect tells me the issue was introduced by https://github.com/python/mypy/pull/8167 (the commit message mentions it expects some things to break), so possibly be worth opening on mypy.

The usage of AnyStr type var looks reasonable to me (using Union or something would be looser than we want), but maybe something needs to be marked

[2020-06-17 08:02] nipunn1313 opened #4237 "Using mock as value type in dictionary produces false positives starting in 0.780"
https://mypy-play.net/?mypy=latest&python=3.8&flags=strict&gist=022d2ee02a238fac44fef6c83fbfb0e3

[code]

Gives

[code]

I believe the usage of function above is canonical expected usage of Mock/MagicMock in a test

[2020-06-17 09:17] srittau commented on #4237
This is surprising and I believe a bug in mypy. `MagicMock` indirectly inherits `Any`, so it should be able to be used in place of `str`.

[2020-06-17 09:31] srittau commented on #4237
Filed as python/mypy#9013, with a repro, not depending on typeshed.

[2020-06-17 09:31] #4237 closed

[2020-06-17 09:36] srittau commented on #4235
I was not involved in naming, but I think it's mostly just a name. "typeshed" seems to be a pun on "bikeshed" (a small building to store bicycles), or more specifically the term "bikeshedding". See the [law of triviality](https://en.wikipedia.org/wiki/Law_of_triviality) entry on Wikipedia for more background in that term.

[2020-06-17 09:36] #4235 closed

[2020-06-17 10:24] JukkaL commented on #4237
As I mentioned in the related mypy issue (https://github.com/python/mypy/issues/9013#issuecomment-645280749), mypy is behaving as expected, since `dict` is invariant.

[2020-06-17 19:12] glyph commented on #3805
@srittau This is still a bug - where should it be filed?  Mypy? Core python?

[2020-06-17 19:17] srittau commented on #3805
Python core decided to violate the LSP with this class hierarchy and mypy decided to warn about LSP violations. Either of those places, although I am sure that the mypy developers see the warning as a feature.

[2020-06-18 00:44] #4211 closed

[2020-06-19 08:29] matthewvalentine opened #4241 "Generator 'throw' should accept instances"
Generator's `throw` method should be able to take in an exception instance, and not just a type. The following code runs into a mypy error, but runs perfectly fine.

[code]
`Argument 1 to "throw" of "Generator" has incompatible type "AssertionError"; expected "Type[BaseException]"`

See on [mypy-play](https://mypy-play.net/?mypy=latest&python=3.8&gist=cc3cbdd00b00a8d079f3502759ccb28b)

[2020-06-19 08:46] srittau commented on #4241
True. PR welcome!

[2020-06-19 10:37] #4051 closed

[2020-06-19 10:45] willmcgugan commented on #4051
Fantastic, thanks. I'll never make that silly error again. 👍

[2020-06-19 11:10] srittau commented on #4234
I believe the problem boils down to `AnyStr` not being constrained by `safe`'s type if `safe` is not given. I think we need an overload for this case that fixes `AnyStr` to `str`.

[2020-06-19 17:30] nipunn1313 opened #4246 "ssl typeshed stub Options regression"
With #4152, module attributes OP_NO_SSLv2 were removed.

The claim was "In Python 3.6, the SSLContext.options flags were converted from int to
EnumFlag values."

[code]

However, I believe they still exist as global flags for compatibility.
With the upgrade, we're seeing mypy errors here.

[2020-06-19 17:31] nipunn1313 commented on #4246
Would be asking for the global flags to be reinstated

[2020-06-19 18:08] JelleZijlstra commented on #4246
Confirmed, let's reinstate the global flags.

[2020-06-20 00:41] #4246 closed

[2020-06-20 09:52] rodrigc opened #4249 "context_vars.copy_context() signature problem"
I have been working on running mypy over the Twisted source code, and integrating mypy into Twisted's CI.

I am running some tests with:
* Python 3.9.0b3
* mypy 0.781

I have a section of code in Twisted that looks like this:

[code]

and am getting this with mypy:

[code]

I also came up with another test case:

[code]

I get this:

[code]

Is this a problem with mypy or typeshed?

[2020-06-20 13:06] srittau commented on #4249
I'm on the phone right now, so I can't check, but it's possible that the typeshed functions are incorrectly defined.

[2020-06-20 20:52] milapsheth commented on #4043
Since this also affects `setitem` and `delitem`, I fixed those too.

[2020-06-20 23:41] JelleZijlstra commented on #4249
The stub is simply `def copy_context() -> Context: ...`. Does it work if you add that return annotation to the fallback?

Maybe mypy should be less strict here, but that's an issue for mypy, not typeshed.

[2020-06-20 23:41] #4043 closed

[2020-06-21 00:41] rodrigc commented on #4249
The full example from Twisted is here: https://github.com/twisted/twisted/blob/9646db406454def1d5d5ce0ac89e01941450567f/src/twisted/internet/defer.py#L34

[code]

If I change to:

[code]

I get this from mypy:

[code]

Do you have any advice on how I can properly implement the override?

[2020-06-21 00:43] JelleZijlstra commented on #4249
You might be able to get something to work with `if TYPE_CHECKING`, but honestly I'd just `# type: ignore` it.

[2020-06-21 00:53] rodrigc commented on #4249
I agree, I just went with the `#type: ignore` approach for simplicity:
https://github.com/twisted/twisted/blob/trunk/src/twisted/internet/defer.py#L47

[2020-06-21 00:55] rodrigc commented on #4249
One additional question:

[code]

shows:

[code]

What needs to change to have the help output show:

[code]

I'm not familiar with how annotations work with C functions.

[2020-06-21 00:58] JelleZijlstra commented on #4249
That would be a CPython issue. I don't know much about where `help()` get its data from, but maybe there's some way to use Argument Clinic in the C code for contextvars that will make `help()` understand the return type.

[2020-06-21 03:22] hauntsaninja commented on #4249
As far as I know, there isn't currently a way of doing that in CPython (note CPython doesn't really use type annotations). You can modify the docstring to mention the return type, though. Relevant bpo:  https://bugs.python.org/issue31939

[2020-06-21 20:42] #4163 closed

[2020-06-21 20:55] JelleZijlstra commented on #4249
Nothing actionable for typeshed here

[2020-06-21 20:55] #4249 closed

[2020-06-21 21:12] milapsheth commented on #4241
Haha, quite the timing. I noticed that the implementation can support additional ways of calling the function as listed [here](https://github.com/python/cpython/blob/3.6/Lib/test/test_generators.py#L1899).
This also affects `Coroutine` and `AsyncGenerator` types. Feel free to include these changes in your pull request instead if you prefer.

[2020-06-21 21:13] JelleZijlstra commented on #4234
The relevant types in typeshed are:
[code]
So mypy is picking the first overload for `quote_via` (because it's the only one that takes four args), and then errors out because the type of the second arg is the Union and then it tries to set the typevar to the Union. But things should work if we set the typevar to either `bytes` or `str`, because function arguments are contravariant.

Maybe there's

[2020-06-21 21:19] JelleZijlstra commented on #4226
The zip change also caused a performance regression in mypy (python/mypy#9016). Maybe reverting is the right call? The old behavior maybe caused fewer issues.

[2020-06-21 22:09] #4208 closed

[2020-06-21 22:23] #4241 closed

[2020-06-22 17:54] helafumpek opened #4255 "Incompatible types of collections.UserList and random.shuffle()"
The following code produces a warning regarding incompatible types.
[code]
The reason is that `UserList` is subclassing from type `MutableSequence`, while `shuffle()` method requires more narrow argument of type `List[Any]`. I would like to submit a PR fixing this, but I've never done this before and I'm not sure if I should suggest changing:
- argument type for `shuffle()` method to `MutableSeque

[2020-06-23 03:42] JelleZijlstra commented on #4255
Welcome to typeshed! Changing the argument type of `shuffle` to `MutableSequence` sounds right.

I don't think `UserList` should inherit from `List`, since at runtime `isinstance(UserList(), list)` is false.

[2020-06-23 03:43] #3286 closed

[2020-06-23 04:43] andersk commented on #4234
The `quote_via: Callable[[str, AnyStr, str, str], str]` annotation implies that either

1. only `str` is used for the entire `urlencode` call, or
2. only `bytes` is used for the entire `urlencode` call,

but this is not the case: `urlencode({"k": b"v"}, quote_via=quote)` calls both `quote('k', '', None, None)` and `(b'v', '')` at runtime.

I think this can be resolved by defining a protocol:

[cod

[2020-06-23 07:29] MartinThoma commented on #574
I'm confused by this issue. I currently run into the same error (`Too many arguments for "Enum"`). What should I do?

## System Info

* Python 3.8.1
* `mypy==0.781`

[2020-06-23 15:52] JelleZijlstra commented on #574
@MartinThoma mypy supports at least some versions of the functional enum API (python/mypy#2805). If some variation doesn't work for you yet, you should report an issue to mypy (not typeshed) with the exact code that is not working.

[2020-06-24 06:17] #4255 closed

[2020-06-24 07:59] Trim21 opened #4261 "add third part package peewee"
https://github.com/coleifer/peewee

I'd like to start adding this package stubs to typeshed. I'm creating this issue to see if it's ok.

(I'm not a native English speaker, sorry for my poor English)

[2020-06-24 08:15] srittau commented on #4261
Stubs for third-party libraries are definitely welcome in typeshed. That said, did you contact the peewee developers to see whether they are interested in adding stubs directly to the package? We are glad to help and review stubs in other repositories as well.

[2020-06-24 08:17] Trim21 commented on #4261
they have refused in 2017.

------------------ Original ------------------
From: Sebastian Rittau <notifications@github.com&gt;
Date: Wed,Jun 24,2020 4:15 PM
To: python/typeshed <typeshed@noreply.github.com&gt;
Cc: Trim21 <github@trim21.me&gt;, Author <author@noreply.github.com&gt;
Subject: Re: [python/typeshed] add third part package peewee (#4261)

Stubs for third-party libraries are definitely

[2020-06-24 20:05] JelleZijlstra commented on #4261
That's a while ago, so it might be worth asking again.

[2020-06-25 13:31] staticdev opened #4263 "Bug with patch and mypy"
[code]

When I check the code above I get:

[code]

But I expect Mock from patch. I worked in previous versions.

[2020-06-25 13:36] staticdev commented on #4226
I also got a problem with that and opened [a question](https://stackoverflow.com/questions/62574831/why-do-i-get-mypy-no-overload-variant-of-zip-matches-argument-error) on SO.

[2020-06-25 15:12] JelleZijlstra commented on #4263
I suppose this is caused by #3871?

[2020-06-25 15:20] staticdev commented on #4263
@JelleZijlstra is there a release with this fix so I can test?

[2020-06-25 15:46] #4226 closed

[2020-06-25 16:56] srittau commented on #4263
pytest_mock has no stubs in typeshed, which is why `mocker.patch()` returns `Any`. Previously, `Mock` was aliased to `Any`, which is why this did not cause errors before. Possible solutions:

* Add private stubs for pytest_mock. There are some very basic ones here: https://github.com/srittau/python-stubs/tree/master/stubs/pytest_mock
* Use `cast(Mock, ...)` on the return value.
* Use `# type: igno

[2020-06-25 16:56] #4263 closed

[2020-06-25 17:26] staticdev commented on #4263
@srittau so [adding type-hints to pytest_mock](https://github.com/pytest-dev/pytest-mock/issues/152) also solves the problem?

[2020-06-25 17:35] srittau commented on #4263
That would be the best solution, of course.

[2020-06-26 01:50] hauntsaninja commented on #4226
staticdev's issue is unrelated, see https://github.com/python/mypy/issues/9048

We reverted #3830, so mthuurne's issue should be fixed https://github.com/python/typeshed/pull/4254. If more people report issues like https://github.com/python/mypy/issues/8454, we could reconsider the overloads or maybe preferably write a mypy plugin.

[2020-06-26 05:23] hauntsaninja commented on #3983
I'm not sure we should make `_SpecialForm` inherit from `type`:
[code]
We could make `Generic` an instance of `type` instead of `_SpecialForm`, at least for Python 3.7 and later.
But overall, I'm a little reluctant to go down the rabbit hole of trying to match the magical runtime implementations.

[2020-06-26 05:25] hauntsaninja commented on #3778
Fixed in #3797

[2020-06-26 05:25] #3778 closed

[2020-06-26 05:44] hauntsaninja opened #4266 "Improve multiprocessing stubs"
stubtest finds a number of issues with the existing multiprocessing stubs. PRs that work toward fixing these are welcome, even if they're small!
[code]

[2020-06-26 11:39] staticdev commented on #4263
@srittau while it is not accepted by pytest_mock. I tried: adding private stubs for pytest_mock from https://github.com/srittau/python-stubs/tree/master/stubs/pytest_mock.

I am still getting a related error:
[code]

The draft PR is here https://github.com/staticdev/toml-validator/pull/110

Can you also help me with that one?

[2020-06-26 11:52] pmhahn commented on #3844
I think ddb47de broke `threading.Thread` with Python 2:
[code]
leads to this error now as `Text` is just an alias for `unicode` with Python 2:
[code]
Changing it back from `Text` to `str` fixes that case and also seems to accept `unicode`:
[code]

[2020-06-26 13:34] staticdev commented on #3195
@bluetech this bug is considered fixed, but I am still having error.

[2020-06-26 13:49] srittau commented on #3195
These methods need to be added to typeshed for Python 3.9+.

[2020-06-26 14:06] srittau commented on #4263
@staticdev Do you run mypy with `MYPYPATH`? In our internal codebase, the stubs are in a sub-directory `stubs` and mypy is called like this: `MYPYPATH=stubs mypy ...`

[2020-06-26 14:10] srittau commented on #3844
@pmhahn I am unsure how your example relates to the commit. Do you mean we need to revert `Mapping[Text, Any]` in `Thread.__init__()` back to ` Mapping[str, Any]`? This makes sense to me, since the former is a sub-type of the latter, but not vice versa.

[2020-06-26 14:20] staticdev commented on #3195
@srittau I tried with 3.6, 3.7 and 3.8 using floor. It is not accepting float as return.

[2020-06-26 14:36] srittau commented on #3195
For versions <3.9, either type checkers needs to implement special logic (unlikely to happen, though), or you need to `# type: ignore` this. Unfortunately there is no good solution on the typeshed side.

[2020-06-26 16:18] pmhahn commented on #3844
@srittau Yes, from my current understanding the change to `Thead.__init__()` should be reverted.  ddb47de changed the code this way:
[code]

[2020-06-26 16:28] pmhahn commented on #3844
Yes, from my current understanding  ddb47de should be reverted - at least the part for `threading.Thread`, as it contains the following change:
[code]
This in the "Python 2 only" part, so the function now requires a `Dict[unicode, Any]` and no longer accepts `Dict[str, Any]`. The later is created implicitly if you use a function with `def f(**kwargs)`, which is a pain.

I'm still unsure how to exp

[2020-06-26 16:54] srittau commented on #3844
`Text` is generally the right type in such cases. `Text` in arguments is an alias for `Union[str, unicode]`. (Outside of arguments, its interpretation as either `Union[str, unicode]` or just `unicode` is left to the type checker.)

[2020-06-26 17:29] staticdev commented on #4263
@srittau yes, I put them on the path. And if I remove the folder I get even more errors:

[code]

I think the argument `mocker.mock_open` is breaking the interface in this case.

[2020-06-27 00:21] hauntsaninja commented on #4266
I removed the good-first-issue label since some of these are fairly complicated to fix "right", see discussion in #4282

However, there are likely some easy fixes in here as well that do make good first issues! I'd recommend taking a look at any of the ones complaining about missing or differing arguments :-)

[2020-06-27 05:26] #3195 closed

[2020-06-27 09:45] pmhahn commented on #3844
Sorry, I still don't get it: Quoting from above:

but later

I think I still have to re-read [Variance of generic types](https://mypy.readthedocs.io/en/stable/generics.html#variance-of-generic-types) many more times until I get it right. Because of that lack of understanding I'm unsure if ddb47de should be reverted completely or only partially.

[2020-06-27 16:52] JelleZijlstra commented on #3844
Mapping is invariant in its key type, so neither type is a subtype of the other.

[2020-06-27 18:11] PeterJCLaw opened #4283 "contextlib.redirect_std{out,err} stubs don't yield the new target"
In `contextlib`, `_RedirectStream` (the class behind `redirect_stdout` and `redirect_stderr`) returns the current stream target as its context variable, which allows code like this:

[code]

where you capture the redirected stream without a separate line to declare the variable.

However the typeshed doesn't allow this, because `redirect_stdout` is a `ContextManager[None]`.

I think the fix here w

[2020-06-27 19:33] JohnVillalovos opened #4284 "Missing type information for werkzeug.wrappers::json"
I see this:

[code]

But

[code]

[code]

[2020-06-28 02:32] JelleZijlstra commented on #4283
This definitely should be documented! Seems like a useful behavior.

Your proposed change looks reasonable. The `Optional` was a bit surprising to me, but apparently if you do `contextlib.redirect_stdout(None)` stdout just gets thrown away.

[2020-06-28 07:45] bluetech commented on #3195
@srittau

You added `__ceil__` and `__floor__` to `float` on >=3.9 only, which reflects the real situation correctly.

Will you consider "lying" and change the condition to >=3? The rationale for doing this is explained in the original issue:

1. `float.__ceil__`/`float.__floor__` are usually not called directly, but using `math.ceil`/`math.floor`, which do work for `float`.
2. `__ceil__` and `__f

[2020-06-28 10:11] srittau commented on #3195
I still maintain that it's better to special-case this is type checkers. In my experience, lying in the stubs has always proved problematic. While it solves one problem, it usually creates others. This is especially the case, since nowadays type stubs are used by more than type checkers.

[2020-06-28 10:33] bluetech commented on #3195
That's understandable - thanks for considering!

[2020-06-28 14:36] #4283 closed

[2020-06-28 21:10] hauntsaninja commented on #3195
I'm curious if there are specific problems you anticipate from the lie?

All I can see for now are false negatives if someone does `3.0 .__floor__()`.  Calling `__floor__` directly is orders of magnitude less common than using `numbers.Real` (which `float` is generally the archetypal example of):
https://grep.app/search?q=.__floor__%28%29&filter[lang][0]=Python
https://grep.app/search?q=numbers.Re

[2020-06-28 21:17] JelleZijlstra commented on #136
I don't think we need this any more. Python 2 is going away and we've been able to live without this for years.

[2020-06-28 21:17] #136 closed

[2020-06-28 21:18] JelleZijlstra commented on #66
This issue covers the same ground as #22 which has more discussion.

[2020-06-28 21:18] #66 closed

[2020-06-28 21:21] JelleZijlstra commented on #343
I found the following that looked like they could be made more specific (from `git grep ': type\b'`):
[code]

[2020-06-28 21:28] JelleZijlstra commented on #996
We have flake8-pyi and stubtest now, this issue doesn't add much.

[2020-06-28 21:28] #996 closed

[2020-06-28 21:32] JelleZijlstra commented on #1287
We have more detailed guidelines on this in CONTRIBUTING.md now.

[2020-06-28 21:32] #1287 closed

[2020-06-28 21:52] Eric-Arellano commented on #3058
Superseded by #3329 🚀

[2020-06-28 21:52] #3058 closed

[2020-06-28 22:09] JelleZijlstra opened #4288 "Change isort config and turn on isort in CI"
While trying to land isort in CI in #3329, I discovered that the behavior of our current isort config depends on whether some modules (e.g., `typing_extensions`) are installed in the runtime environment where isort is run. This is bad because it means that contributors running isort locally may get different behavior depending on what libraries they happen to have installed in their local environm

[2020-06-28 22:25] hauntsaninja commented on #4288
I think just setting `default_section` won't work, since presumably if isort detects an installation of `typing_extensions` it'll no longer use the default section.
We should also be careful about `third_party` stubs, since we can't exhaustively override the sections of possible imports.
The two options I can see are:

- Set `virtual_env` to some random folder. This should hopefully guarantee that

[2020-06-29 07:00] #4288 closed

[2020-06-29 15:04] srittau commented on #3195
To be honest, I can't make a strong case in this particular instance. But I remember an argument before to include overridden methods in sub-classes, even if the signature is not changed, if the sub-class implements a particular method. I don't remember the specifics. I also remember several cases where we deviated from the implementation just to revert the changes later. These are the things that

[2020-06-29 15:54] srittau commented on #4284
Werkzeug is currently a module in typeshed, while it's a package in the implementation. This needs to be changed.

[2020-07-01 08:28] lulivi opened #4299 "Missing ParserError in dateutils.parser"
It seems the ParserError is missing in [`dateutil/parser`](https://github.com/python/typeshed/blob/master/third_party/2and3/dateutil/parser.pyi) stubs file.

### Error:

[code]

### Dateutil dir:

[code]

### Packages versions

[code]
[code]

Edit: add Python version

[2020-07-01 08:47] srittau commented on #4299
Indeed, PR welcome!

[2020-07-01 11:58] ilevkivskyi commented on #2491
Now that we are moving towards implementing this proposal, let's discuss what would be the best way to implement the auto-uploading (so that it is robust, secure, but still relatively simple). Here is one possible idea:
* We will have a bot account on PyPI (e.g. `typeshed-bot-1`), only very limited number of people will have a password for it.
* We will have a separate private repository where upl

[2020-07-01 14:08] JukkaL commented on #2491
The overall proposal looks good to me. I have some feedback on details below.

I think that storing passwords in a repository is against best practices. We may want to minimize the number of unencrypted copies of any passwords. Also, somebody could accidentally push the repo to another public repository, GitHub could be compromised, etc.

It may be better to only store an upload token on the serve

[2020-07-01 14:17] ilevkivskyi commented on #2491
Thanks! These are all good ideas. @JelleZijlstra @srittau what do you think?

[2020-07-01 14:37] srittau commented on #2491
Sounds good to me. Just one thing:

I think we can do this with GitHub Actions. Actions support cron jobs (see [this workflow](/python/typeshed/blob/master/.github/workflows/stubtest-unused-whitelist.yml) for an example) and can do some magic with `GITHUB_TOKEN`. This way we can utilize the GitHub secrets mechanism, don't need to involve another account, and have less credentials overall.

[2020-07-01 14:46] ilevkivskyi commented on #2491
Cool! I didn't know GitHub actions supports cron. I think it indeed looks simpler with it.

[2020-07-01 15:09] JelleZijlstra commented on #2491
This sounds good to me. It would be great if we can do it all through GitHub actions.

[2020-07-02 09:59] JukkaL commented on #2491
I also like the idea of using GitHub actions.

[2020-07-03 10:23] jugmac00 opened #4306 "The setup instructions for running tests as of `README.md` / contributing do not work"
[code]

gives

[code]

I am on Ubuntu 18.04 and Python 3.6.9.

Thanks for advice!

[2020-07-03 10:51] jugmac00 commented on #4306
Ok, I needed to do a `pip install -U pip`.

I will create a PR for the documentation.

[2020-07-03 12:31] #4306 closed

[2020-07-03 14:06] javierhonduco opened #4310 "Libvirt type hints"
Hello there,

In my team at work we heavily use [Libvirt](https://github.com/libvirt/libvirt) and we maintain our own type hints file in our internal typeshed. We started with a version based off [this fork](https://github.com/univention/typeshed/blob/libvirt/third_party/2and3/libvirt.pyi) and have augmented it over time (thanks @pmhahn!).

We were wondering if this would be an addition folks woul

[2020-07-03 14:21] srittau commented on #4310
We'd gladly accept those type hints into typeshed. For incomplete stubs, please see the note in CONTRIBUTING. Stubs don't need to be perfect and can always be improved iteratively.

[2020-07-03 14:41] berrange commented on #4310
Assuming these type hints are going to be a standard expected part of the python ecosystem from now onwards, then it would make sense to incorporate them into libvirt upstream.

Most of the libvirt python binding is auto-generated, and so manually writing type hints is pretty undesirable. It looks like it should be possible to auto-generate the type hints which would make it less error prone and e

[2020-07-03 17:21] pmhahn commented on #4310
I already extended the generator of `libvirt-python` to also generate the type hints in my branch https://github.com/univention/libvirt-python/tree/typing and asked @berrange for a first review through the [libvirt mailing list](https://patchew.org/Libvirt/cover.1587993402.git.hahn@univention.de/), but never herd back - most probably because libvirt was just doing the move to gitlab then.

I need

[2020-07-03 17:23] berrange commented on #4310
Oh, yes, thanks for reminding me, sorry we dropped the ball on reviewing that. Do send a pull request for it when you have time to rebase

[2020-07-04 01:58] lulivi commented on #4299
I'll try in a week or two!

[2020-07-06 08:49] K0ertis opened #4312 "pyzmq"
Using **pyzmq**:17.0.0 and **mypy**: 0.782 and got the error `No library stub file for standard library module`:
[code]

As mentioned in https://mypy.readthedocs.io/en/latest/running_mypy.html#missing-imports
I report it here

[2020-07-06 11:42] javierhonduco commented on #4310
@pmhahn That's great, thanks a lot! Let me know if I can help with anything :)

[2020-07-06 17:25] JukkaL opened #4313 "Recent multiprocessing.Queue change breaks existing annotations and reduces typing precision"
#4289 changed `multiprocessing.Queue` from a class to a function. This matches the implementation, but this has some possibly unanticipated side effects, as discussed in https://github.com/python/mypy/pull/9100. Here's a summary of the points raised in the linked PR:

* `multiprocessing.Queue` is documented as a class: https://docs.python.org/3/library/multiprocessing.html#multiprocessing.Queue

*

[2020-07-06 17:34] JelleZijlstra commented on #4313
Making `multiprocessing.Queue` an alias for `multiprocessing.queues.Queue` feels like it might be a good pragmatic solution. (This would be a partial revert of #4289.) This approach could cause a couple of false negatives:

- Type checkers wouldn't catch code that uses the `ctx=` argument to the `multiprocessing.queues.Queue` constructor.
- Type checkers wouldn't catch code that does `isinstance(.

[2020-07-06 17:45] srittau commented on #4313
The ultimate goal should be to have the stubs match the implementation. @JelleZijlstra points out some pitfalls otherwise that a type checker could help catch. As a pragmatic step for now I think Jelle's solution is ok, though. We could also add another stubs-only alias (like `_Queue` or `RealQueue` or whatever) to `multiprocessing/__init__.pyi` and recommend to use this for type annotations of `Q

[2020-07-06 23:59] hauntsaninja commented on #4313
The combination of `multiprocessing.queues.Queue` being undocumented and `multiprocessing.Queue` being documented as a class is unfortunate :-( I agree reverting the relevant changes will result in the least surprises for users, opened a PR at #4314

(Note all the changes from #4282 are intact since Array/Value aren't documented as classes. But they're also a little tricky since they return ctypes

[2020-07-07 04:03] vishalkuo commented on #4313
Hey all, thanks for flagging this and reverting it. It looks like #4314 reverts my bad change, but let me know if there's anything else you'll need me to resolve around this.

Sorry for all the churn, I tried getting started on this to dip my toes a little deeper into the typed python world but it seems like the `multiprocessing` module is more complicated than I expected! I'll try to be more care

[2020-07-07 04:20] hauntsaninja commented on #4313
It's all good, `multiprocessing` is more complicated than I expected too when I posted #4266 ! In general, as Sebastian said, typing to match the implementation is good — it's just unfortunate that in this case CPython's implementation is complicated and its documentation lies about it :-)

[2020-07-07 13:05] bsolomon1124 opened #4316 "flask.app.logger missing from app.pyi"
Flask docs give several examples using [`flask.app.logger`](https://flask.palletsprojects.com/en/1.1.x/logging/) directly, but that object is not present in the Flask [`app.pyi`](https://github.com/python/typeshed/blob/master/third_party/2and3/flask/app.pyi) stub.

[2020-07-07 13:25] bsolomon1124 commented on #4316
User error - I had this confused with instances of `Flask()`.

[2020-07-07 13:25] #4316 closed

[2020-07-07 19:28] gward commented on #3569
For posterity, here is a custom protocol that works for me in one particular place:
[code]

This is not a general solution to the problem! But I just spent at least an hour banging my head against this until I got it working. Hopefully this can save someone else some time in the future.

I just had to change my code from
[code]
to
[code]
and now mypy is happy.

[2020-07-08 03:59] blueset opened #4317 "SimpleXMLRPCServer.register_function fail to recognize Callable[[], List[int]] as an argument"
Similar to #4163, `SimpleXMLRPCServer.register_function` cannot recognize `Callable[[], List[int]]` as an argument.

## Reproducible example
[code]

[code]

## Expected behavior
No error.

## Actual behavior
[code]

## Environment
- Python 3.7.7
- mypy 0.782

[2020-07-08 04:05] blueset commented on #4317
Issue fixed when applying PR #4165.

[2020-07-08 04:05] #4317 closed

[2020-07-08 21:27] shamrin opened #4318 "Tornado typeshed lacks HTTPClientError class; status of Tornado typeshed"
Tornado typeshed doesn't provide `tornado.httpclient.HTTPClientError` class, only the deprecated `HTTPError`:

https://github.com/python/typeshed/blob/03d879540382e6708058553830577a236aa55f44/third_party/2and3/tornado/httpclient.pyi#L116

It was introduced in Tornado 5.1:

Separately, what is the status of Tornado typeshed? Tornado provides high-quality inline types. Are there cases where typeshed

[2020-07-09 09:28] srittau commented on #4318
Good to hear that tornado now ships their own annotations. We should just remove it from typeshed. I will open a PR.

[2020-07-09 14:21] JelleZijlstra commented on #4318
Fixed by #4321.

[2020-07-09 14:21] #4318 closed

[2020-07-09 21:19] charnugagoo opened #4324 "Type check does not support Enum function api"
Hi, there,

I am facing warnings of type checks when using function call of Enum.

You can take a look at this mypy playground.
https://mypy-play.net/?mypy=latest&python=3.8&gist=39161e33d3466390d6bf30a42e4615f7

My peer guesses this is a limitation of the stub in typeshed at
here https://github.com/python/typeshed/blob/master/stdlib/3/enum.pyi#L23
Not sure how to type this.

[code]

[2020-07-09 21:33] JelleZijlstra commented on #4324
This is a mypy issue, python/mypy#9079.

It's true though that there's nothing in typeshed that directly supports the functional Enum API. Type checkers would special case this API, but it'd still be good to follow the runtime implementation more closely in our stub.

[2020-07-09 22:02] charnugagoo commented on #4324
Thanks for pointing!

[2020-07-10 08:37] srittau commented on #3569
A brief addendum on why we can't just derive `Headers` from `Mapping`: Since `Mapping` is not a protocol, the following code returns `False` at runtime:

[code]

Deriving `Headers` from `Mapping` would introduce a false negatives. For example, `cgi.FieldStorage` takes a `headers` arguments, but checks for `Mapping` explicitly:

[code]

[2020-07-11 11:52] Akuli commented on #1631
Tkinter stubs use a lot of `Any`, and they generate lots of mypy errors with `mypy --strict`.

I have written [my own tkinter stubs](https://github.com/Akuli/porcupine/tree/a6925e617/my_stubs), but I don't think that creating a pull request that adds them to typeshed is a good idea. I explained why in the README of my stubs, but the tl;dr is:
- My stubs are missing many things, and completing them

[2020-07-11 14:31] srittau commented on #1631
We are grateful for any improvements that can be made to our stubs. Stubs generally follow Python 3.7 syntax. For positional only arguments, we need to use the `__x` syntax, instead of being able to use the forward slash.

[2020-07-11 16:48] Akuli commented on #1631
I wonder how many people are actually using mypy and tkinter together, i.e. how bad it would be to break backwards compatibility in tkinter stubs. At least I'm quite confident that nobody is trying to use `mypy --strict` and tkinter together, because that just doesn't work.

[2020-07-11 16:59] Akuli commented on #1631
I guess I should clarify that "breaking backwards compatibility" means need to change type hints and add asserts to make mypy checks pass again. On the other hand, the newly generated mypy errors could also help with discovering bugs.

[2020-07-11 22:24] hauntsaninja commented on #1631
tkinter stubs are the most poorly supported stdlib stubs in typeshed, like Sebastian I'd be grateful for improvements to typeshed.

Just a scattered reply to some of your concerns raised here and at https://github.com/Akuli/porcupine/tree/a6925e617/my_stubs#why-not-pull-request

typeshed stubs are able to use Literal (and it works for Python 3.7 and earlier as well). You just have to import it fro

[2020-07-12 09:02] Akuli commented on #1631
I will add type hints for `tkinter.END` and similar constants if I actually create a pull request. Some people like them, and this comes down to opinions. I don't want to shove my opinions into other people's code.

I would dislike `Union[str, whatever]` myself too, but my code does `Union[str, Literal['??']]`. I think that's reasonable, and actually checking for that leads to a readable `assert e

[2020-07-12 09:45] Akuli commented on #1631
Copy/pasta will be another problem. How much copy/pasta is acceptable in stub files? I looked at `subprocess.Popen` stubs yesterday and they have several lines copy/pasted and slightly modified 4 times.

With the current mypy features that I'm aware of, every tkinter widget option would have quite a lot of copy/pasta:
- `__init__` kwarg
- `configure` kwarg
- `config` kwarg (`config` is an alias fo

[2020-07-13 05:45] Michael35699 opened #4328 "pynput"
Is this where you request typing annotation?

[2020-07-13 09:48] srittau commented on #4328
You can request stubs here, although someone needs to contribute those stubs.

[2020-07-13 22:26] emeryberger opened #4329 "z3"
Requesting stubs for z3-solver.
@leodemoura @NikolajBjorner

[2020-07-14 08:21] Akuli commented on #1631
I'm starting to agree, because event fields being `'??'` just doesn't come up much in practice. If you write an event handler for a keyboard event, then it's very unlikely that you try to do anything with `event.width`. On the other hand, if you write an event handler for a window resizing event, then there's no way how `event.width` could be `'??'` and there's no actual reason to check that it's

[2020-07-15 00:23] hauntsaninja commented on #1631
Generally speaking typeshed is quite accommodating of copy-pasta. Although mypy is the most visible type checker, typeshed is the lowest common denominator for a lot of different tools, so sometimes dumb (potentially generated) copy pasta is the best way forward to bridge the various gaps. If it's understandable copy pasta and less than a couple thousand lines long I wouldn't worry too much.

type

[2020-07-15 16:24] goodmami opened #4331 "sre_parse.parse_template() has incorrect return type"
The return type of `sre_parse.parse_template()` is a tuple containing a list of int pairs (positions and group references) and a list of strings (literal replacement strings):

https://github.com/python/typeshed/blob/5d553c9584eb86793cfa61019ddee5c7b62bc286/stdlib/3/sre_parse.pyi#L88

The list of strings, however, may contain `None` and those strings are `bytes` when the argument of `sre_parse.par

[2020-07-16 22:03] #4313 closed

[2020-07-17 07:15] srittau opened #4332 "Pin mypy version?"
I suggest that we pin the mypy requirement to the latest released version and update the requirement after each new release. Historically, mypy and typeshed development were closely linked, but by now typeshed is used by many different projects. This would allow repeatable CI builds and means that local dev environments match the CI environment better. It also means that wrong commits to mypy won'

[2020-07-17 07:23] srittau opened #4333 "Don't run mypy self-test?"
I suggest to turn off the mypy self test in CI. These tests are the slowest tests by far, taking over 20 minutes to complete, compared to the 7 minutes it takes the pytest tests to complete. When they fail, they also require the feared "typeshed/mypy" shuffle that only mypy/typeshed maintainers (effectively Jelle) can do.

On the other hand, I can't remember the last time these tests flagged a gen

[2020-07-17 07:24] srittau commented on #4332
@JelleZijlstra @ilevkivskyi @JukkaL

[2020-07-17 07:24] srittau commented on #4333
@JelleZijlstra @ilevkivskyi @JukkaL

[2020-07-17 14:25] JelleZijlstra commented on #4332
I can definitely see the argument for doing this. On the other hand, the mypy test is currently the only test in our CI that uses typeshed to typecheck real-world code, and that finds issues pretty regularly.

What would be nice to have for typeshed is a tool like black-primer (https://black.readthedocs.io/en/latest/black_primer.html#) that runs on a variety of projects that rely on typeshed.

A g

[2020-07-17 14:42] shalesbridge commented on #3637
Hey everyone,

Sorry to leave people hanging; things have been pretty nutty here in
meatspace lately.

If people are still interested, I can check in what I've got into a github
repo. It's far, far from complete and I'm pretty sure there's still stuff
that doesn't conform to the typeshed style guidelines, but what is in there
should still be usable typehinting.

On Wed, Jun 10, 2020 at 5:45 PM Gre

[2020-07-17 14:43] JukkaL commented on #4332
I don't think that running the full mypy test suite is very useful, since most tests don't use the full stubs anyway. Mypy self check should be pretty predictable, and covers a good deal of stdlib. Pinning mypy version wouldn't we as important if we didn't run all the tests. However, pinning mypy would have other benefits, such as being able to use a precompiled binary (or at least doing this more

[2020-07-17 14:48] JukkaL commented on #4333
What about only running mypy self check, as discussed in #4332? It runs pretty quickly.

I assume we'd still verify that mypy can type check the stubs without errors?

I wonder how fast we could make the CI. For example, it would be nice if the CI would run in, say, under 5 minutes for most PRs. Also, once we get to a certain level of CI performance, we can have a policy of rejecting new tests tha

[2020-07-17 14:59] gre7g commented on #3637
Can I push you a PR? Had to add various to check bits I'm using.

[2020-07-17 15:04] srittau commented on #4333
Running mypy over the stubs would not be affected. I like the idea of running the self check, but not the test suite. I especially like Jelle's suggestion for a black-prime-like system. Testing stubs against real work code bases is very useful.

[2020-07-17 15:11] srittau commented on #4333
To clarify my suggestion:

* Check stubs with mypy against various Python versions and platforms (currently the various "mypy" jobs on CI): Keep (possibly pinning the mypy version).
* Check the mypy code base (currently one part of the "mypy self test" job on CI): Keep, possibly extend to other code bases (possibly using a released mypy version).
* Run mypy's test suite (currently the other part o

[2020-07-17 15:32] JelleZijlstra commented on #4333
To make CI faster, perhaps we can somehow set up a system that checks only the files changed by a PR; that could especially make sense once we move to modular typeshed.

[2020-07-17 15:46] srittau commented on #4333
#4337 is a draft PR that adds a "real" mypy self test. For now it just renames (but still runs) the existing self test to "mypy test suite". Interestingly, it flags a few things in mypy's code base.

[2020-07-19 05:21] shalesbridge commented on #3637
Since people are interested in wxpython stubs, I've uploaded what I have so
far to github. I wasn't sure exactly what the best way to go about this was
w/r/t typeshed project -I mean, forking/etc. -so I just created a repo at
https://github.com/shalesbridge/wx_typing.git . We can move things into a
typeshed fork or whatever else in the future if that would be more
appropriate.

It's been a while s